<a href="https://colab.research.google.com/github/hirokimituya/stock-price-analysis/blob/main/technical_analysis/%E6%A0%AA%E4%BE%A1%E5%88%86%E6%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ソフトバンク(9434)の株価データ取得

In [1]:
import pandas_datareader.data as pdr
df = pdr.DataReader('9434.JP', 'stooq')
df

                Open     High       Low    Close        Volume
Date
2023-04-03  1530.000  1531.50  1522.000  1526.50  6.636800e+06
2023-03-31  1525.000  1538.00  1524.000  1529.00  1.112560e+07
2023-03-30  1531.000  1532.00  1513.500  1520.00  1.104340e+07
2023-03-29  1560.000  1574.50  1555.000  1574.50  1.578690e+07
2023-03-28  1555.000  1559.50  1550.500  1555.00  8.689200e+06
...              ...      ...       ...      ...           ...
2018-12-26  1024.680  1036.48  1015.210  1027.82  1.537228e+07
2018-12-25  1030.180  1040.42   977.380  1001.81  4.683352e+07
2018-12-21  1008.110  1083.79  1004.970  1037.28  8.251741e+07
2018-12-20   932.442  1032.54   926.928  1021.50  1.349414e+08
2018-12-19  1153.150  1153.94  1010.480  1010.48  3.444509e+08

[1040 rows x 5 columns]