<a href="https://colab.research.google.com/github/hirokimituya/stock-price-analysis/blob/main/technical_analysis/%E9%8A%98%E6%9F%84%E9%81%B8%E5%AE%9A%E9%96%A2%E6%95%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Google Colaboratoryに画像を保存できるように設定
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/')

Mounted at /content/drive

In [2]:
# Ta-Libの代替としてpandas_taを利用している。Ta-Libの関数名を小文字にしたものがあるイメージ
!pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=3537d205f1273072702b00dd43950e3a00b344ba0a4694838bc9673d1a5463b8
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

# 銘柄コードから株価情報を取得する関数

In [3]:
!pip install yahoo_finance_api2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo_finance_api2
  Downloading yahoo_finance_api2-0.0.12.tar.gz (3.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (3.4)
Building wheels for collected packages: yahoo_finance_api2
  Building wheel for yahoo_finance_api2 (setup.py) ... done
  Created wheel for yahoo_finance_api2: filename=yahoo_finance_api2-0.0.12-py3-none-any.whl size=3714 sha256=adca26cdacf4c094caae7da06b1d102cd0d4421dc1c0254111e08ad673a7597b
  Stored in directory: /root/.cache/pip/wheels/e2/40/e3/f3d8054a41d7d85065555037525f48f56119cafbc5fcddf427
Successfully built yahoo_finance_api2
Installing collected packages: yahoo_finance_api2
Successfully installed yahoo_finance_api2-0.0.12

In [4]:
from yahoo_finance_api2 import share as yapi2
import datetime as dt
from datetime import date,timedelta
import pandas as pd

# 株価データを取得するメソッド
def get_stock_data_yapi2(code, period_type='year', period=10):
    """株価データを取得する

    :param code: 取得する株価データの銘柄コード
    :param period_type: 取得する株価データの期間の単位（例: 'year', 'month', 'week', 'day'）
    :param period: 取得する株価データの期間の数値
    :return: 株価データのデータフレーム
    """
    if period_type == 'month':
        period_type_value = yapi2.PERIOD_TYPE_MONTH
    elif period_type == 'week':
        period_type_value = yapi2.PERIOD_TYPE_WEEK
    elif period_type == 'day':
        period_type_value = yapi2.PERIOD_TYPE_DAY
    else:
        period_type_value = yapi2.PERIOD_TYPE_YEAR

    data = yapi2.Share(f'{code}.T').get_historical(
        period_type_value,
        period,
        yapi2.FREQUENCY_TYPE_DAY,
        1
    )

    df = pd.DataFrame(data)

    # タイムスタンプをDateTime型に変更
    df['datetime'] = pd.to_datetime(df['timestamp'], unit='ms')

    # 日本時間へ変換
    df['Date'] = df['datetime'] + dt.timedelta(hours=9)

    # インデックスをDateカラムに設定
    df.index = pd.to_datetime(df['Date'].dt.date)

    # 不要なカラムを削除
    del df['Date'], df['datetime'], df['timestamp']

    # 各カラムの最初の文字を大文字に変換
    for col in df.columns:
        df[f'{col.capitalize()}'] = df[col]
        del df[col]

    return df

In [5]:
get_stock_data_yapi2(9501)

             Open   High    Low  Close     Volume
Date
2013-05-15  517.0  612.0  504.0  513.0  699968100
2013-05-16  533.0  613.0  526.0  613.0  618650500
2013-05-17  633.0  656.0  607.0  626.0  505085200
2013-05-20  656.0  726.0  646.0  726.0  443322400
2013-05-21  810.0  841.0  770.0  815.0  549781900
...           ...    ...    ...    ...        ...
2023-05-08  486.0  499.0  485.0  489.0   18300400
2023-05-09  490.0  496.0  487.0  496.0   12776300
2023-05-10  497.0  498.0  490.0  492.0   11458800
2023-05-11  491.0  494.0  484.0  486.0   13313000
2023-05-12  487.0  504.0  484.0  499.0   25367600

[2464 rows x 5 columns]

# JPX400の銘柄一覧を取得する関数

In [6]:
from pandas.io.formats.info import DataFrameTableBuilderNonVerbose
import requests
import pandas as pd

def get_ticker_jpx400():
    """JPX400の銘柄コード一覧を取得する

    :return: JPX400の銘柄コード一覧
    """

    url = "https://indexes.nikkei.co.jp/nkave/archives/file/jpx_nikkei_index_400_weight_jp.csv"
    r = requests.get(url)
    with open('jpx_nikkei_index_400_weight_jp.csv', 'wb') as output:
        output.write(r.content)

    df = pd.read_csv("./jpx_nikkei_index_400_weight_jp.csv", encoding='shift_jis')
    # 不要なレコードとカラムを削除
    df = df.iloc[:-1]   # 最後の行は説明文のため除外
    df = df[['銘柄名', 'コード', '業種']]   # 必要なカラムのみにする
    df['コード'] = df['コード'].astype(int) # コードを整数に変更

    return df

In [7]:
# JPX400の銘柄コードを取得
jpx400 = get_ticker_jpx400()
jpx400

                銘柄名   コード      業種
0              ニッスイ  1332  水産・農林業
1      ウエストホールディングス  1407     建設業
2    ショーボンドホールディングス  1414     建設業
3           ミライト・ワン  1417     建設業
4             ＩＮＰＥＸ  1605      鉱業
..              ...   ...     ...
394     ニトリホールディングス  9843     小売業
395       ミスミグループ本社  9962     卸売業
396     ファーストリテイリング  9983     小売業
397      ソフトバンクグループ  9984  情報・通信業
398          サンドラッグ  9989     小売業

[399 rows x 3 columns]

In [18]:
# ニッスイの株価情報を取得
get_stock_data_yapi2(jpx400.loc[jpx400['銘柄名'] == 'ニッスイ', 'コード'].values[0])

             Open   High    Low  Close    Volume
Date
2013-05-15  203.0  222.0  203.0  219.0  10037200
2013-05-16  221.0  225.0  203.0  206.0   7419700
2013-05-17  212.0  219.0  210.0  219.0   5122400
2013-05-20  226.0  232.0  225.0  230.0   6268800
2013-05-21  231.0  235.0  227.0  232.0   3023300
...           ...    ...    ...    ...       ...
2023-05-08  591.0  599.0  591.0  596.0   1811000
2023-05-09  598.0  601.0  595.0  601.0   1110200
2023-05-10  602.0  602.0  593.0  596.0   1062600
2023-05-11  591.0  594.0  586.0  587.0   1297200
2023-05-12  588.0  624.0  584.0  622.0   5378900

[2464 rows x 5 columns]

# 株価情報を出来高や株価、パーフェクトオーダーでフィルタリングする関数

In [36]:
import pandas_ta as ta
import math

def is_perfect_order(stock_df, mas, period_type='D', reverse=False):
    """株価情報がパーフェクトオーダーどうかの判定

    :param stock_df: 対象の株価情報のデータフレーム
    :param mas: 移動平均線に使用するためのリスト（例: [5, 25, 75]）
    :param period_type: 期間をどの単位にするか（'W' or 'M'）
    :param reverse: 下降トレンドのパーフェクトオーダーを検出する場合は、True / 上昇トレンドの場合は、False
    :return: 株価情報がパーフェクトオーダーの場合は、True / それ以外の場合は、False
    """

    df = stock_df.copy()

    # 月足、周足にリサンプリング
    if period_type in ('M', 'W'):
        resampled = df.resample(period_type)
        df = resampled.aggregate({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'})
    
    close = df['Close']
    
    # 移動平均線の算出
    for ma in mas:
        df[f'ma{ma}{period_type}'] = ta.sma(close, ma)
    
    # パーフェクトオーダーかどうかの判定
    conditions = []
    if not reverse:
        # 上昇トレンド
        for i in range(len(mas) - 1):
            conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) >= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
    else:
        # 下降トレンド
        for i in range(len(mas) - 1):
            conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) <= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
            
    result = all(conditions)

    return result

In [37]:
def filtered_ticker(df, min_volume=None, max_price=None, perfect_order={}):
    """データフレームの銘柄コードから株価情報を取得して、指定された出来高や株価でフィルタリングする

    :param df: 対象のデータフレーム
    :param min_volume: 出来高の最小値を指定
    :param max_price: 株価の最大値を指定
    :param perfect_order: パーフェクトオーダーの判定に使用する辞書（例: {'mas': [5, 20, 60], 'period_type': 'D', 'reverse': False}）（辞書のキー'mas'のみ必須）
    :return: 出来高や株価でフィルタリングしたデータフレーム
    """
    # 空のDataFrameを作成
    result_df = pd.DataFrame()

    # 各銘柄についてループ
    for index, row in df.iterrows():
        # コードを取得
        code = row['コード']

        # 株価情報を取得
        if not perfect_order:
            stock_data = get_stock_data_yapi2(code, period_type='day', period=1)
        else:
            largest_mas = perfect_order.get('mas')[-1]
            period_type = perfect_order.get('period_type', 'D')
            if period_type == 'D':
                stock_data = get_stock_data_yapi2(code, period_type='day', period=largest_mas*2)
            elif period_type == 'W':
                stock_data = get_stock_data_yapi2(code, period_type='week', period=largest_mas*2)
            elif period_type == 'M':
                stock_data = get_stock_data_yapi2(code, period_type='month', period=largest_mas*2)
            else:
                raise ValueError('引数perfect_orderは"D"か"W"か"M"のいずれかを指定してください')
        
        print(stock_data)

        # 出来高の条件に合わない場合、次の銘柄コードに遷移
        volume = stock_data['Volume'][-1]
        if min_volume is not None and volume < min_volume:
            continue
        
        # 価格の条件に合わない場合、次の銘柄コードに遷移
        price = stock_data['Close'][-1]
        if max_price is not None and price > max_price:
            continue
        
        # パーフェクトオーダーの条件に合わない場合、次の銘柄コードに遷移
        if perfect_order:
            mas = perfect_order.get('mas')
            period_type = perfect_order.get('period_type', 'D')
            reverse = perfect_order.get('reverse', False)
            if not is_perfect_order(stock_data, mas=mas, period_type=period_type, reverse=reverse):
                continue

        # 銘柄名と業種を設定
        filtered_df = pd.DataFrame({
            '銘柄名': [row['銘柄名']],
            'コード': [code],
            '業種': [row['業種']],
            '出来高': [volume],
            '株価': [price],
        }, index=[index])

        # 結果をresult_dfに追加
        result_df = pd.concat([result_df, filtered_df])

    return result_df

In [38]:
# JPX400の銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_jpx400 = filtered_ticker(jpx400, min_volume=200000, max_price=5000)
filtered_jpx400

             Open   High    Low  Close   Volume
Date
2023-05-12  588.0  624.0  584.0  622.0  5378900
              Open    High     Low   Close  Volume
Date
2023-05-12  3025.0  3070.0  3005.0  3030.0  187100
              Open    High     Low   Close  Volume
Date
2023-05-12  5790.0  5790.0  5710.0  5760.0  148700
              Open    High     Low   Close  Volume
Date
2023-05-12  1692.0  1707.0  1684.0  1707.0  394800
              Open    High     Low   Close    Volume
Date
2023-05-12  1476.0  1492.0  1454.0  1460.0  10555900
             Open   High    Low  Close   Volume
Date
2023-05-12  911.0  995.0  883.0  969.0  1638500
              Open    High     Low   Close   Volume
Date
2023-05-12  2615.0  2729.0  2615.0  2720.0  1121600
              Open    High     Low   Close   Volume
Date
2023-05-12  4690.0  4750.0  4555.0  4735.0  1919700
              Open    High     Low   Close   Volume
Date
2023-05-12  1059.0  1109.0  1053.0  1107.0  6481700
             Open   High    Low  Close   Volume
Date
2023-05-12  827.0  845.0  813.0  844.0  5150500
              Open    High     Low   Close   Volume
Date
2023-05-12  1663.0  1682.0  1654.0  1671.0  1574200
              Open    High     Low   Close   Volume
Date
2023-05-12  1801.0  1841.0  1788.0  1836.0  2668600
              Open    High     Low   Close  Volume
Date
2023-05-12  3310.0  3395.0  3305.0  3390.0  617200
             Open   High    Low  Close  Volume
Date
2023-05-12  822.0  826.0  813.0  826.0  641500
              Open    High     Low   Close  Volume
Date
2023-05-12  2880.0  2940.0  2868.0  2928.0  311400
               Open     High      Low    Close  Volume
Date
2023-05-12  13150.0  13320.0  13150.0  13260.0  282100
             Open   High    Low  Close   Volume
Date
2023-05-12  675.0  680.0  669.0  678.0  1176700
              Open    High     Low   Close   Volume
Date
2023-05-12  2948.0  3020.0  2944.0  3015.0  1083000
              Open    High     Low   Close   Volume
Date
2023-05-12  3497.0  3565.0  3393.0  3449.0  4548000
              Open    High     Low   Close   Volume
Date
2023-05-12  2836.0  2870.0  2811.5  2855.0  3387200
              Open    High     Low   Close  Volume
Date
2023-05-12  1065.0  1074.0  1059.0  1073.0  423400
              Open    High     Low   Close  Volume
Date
2023-05-12  2563.0  2582.0  2554.0  2582.0  407200
              Open    High     Low   Close  Volume
Date
2023-05-12  3610.0  3625.0  3580.0  3605.0  148900
              Open    High     Low   Close  Volume
Date
2023-05-12  1858.0  1869.0  1845.0  1854.0  326300
              Open    High     Low   Close  Volume
Date
2023-05-12  2642.0  2677.0  2635.0  2675.0  250400
              Open    High     Low   Close  Volume
Date
2023-05-12  3065.0  3070.0  3020.0  3035.0  179900
              Open    High     Low   Close  Volume
Date
2023-05-12  2800.0  2814.0  2764.0  2793.0  769700
              Open    High     Low   Close  Volume
Date
2023-05-12  4305.0  4355.0  4225.0  4310.0  612800
              Open    High     Low   Close  Volume
Date
2023-05-12  2781.0  2824.0  2780.0  2818.0  691200
              Open    High     Low   Close  Volume
Date
2023-05-12  5100.0  5190.0  5090.0  5180.0  188000
               Open     High     Low   Close   Volume
Date
2023-05-12  10090.0  10210.0  9480.0  9560.0  1834000
              Open    High     Low   Close   Volume
Date
2023-05-12  3220.0  3290.0  3220.0  3285.0  1591000
              Open    High     Low   Close  Volume
Date
2023-05-12  2263.0  2287.0  2251.0  2287.0   82900
              Open    High     Low   Close  Volume
Date
2023-05-12  3795.0  3855.0  3765.0  3835.0  748200
             Open   High    Low  Close   Volume
Date
2023-05-12  303.0  309.0  302.0  305.0  4328100
              Open    High     Low   Close  Volume
Date
2023-05-12  3995.0  4015.0  3965.0  3995.0  183700
              Open    High     Low   Close  Volume
Date
2023-05-12  3895.0  3930.0  3880.0  3915.0  438500
              Open    High     Low   Close   Volume
Date
2023-05-12  1994.0  2047.0  1971.0  2045.0  2569300
              Open    High     Low   Close  Volume
Date
2023-05-12  3465.0  3480.0  3380.0  3415.0  235400
              Open    High     Low   Close  Volume
Date
2023-05-12  3165.0  3270.0  3110.0  3260.0  188700

KeyboardInterrupt: ignored

In [39]:
# 株価情報がパーフェクトオーダーかどうかの判断
filtered_perfect_order_jpx400 = filtered_ticker(jpx400, min_volume=200000, max_price=5000, perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_jpx400

             Open   High    Low  Close   Volume
Date
2023-03-15  544.0  549.0  543.0  547.0  1395800
2023-03-16  538.0  541.0  536.0  538.0  1897500
2023-03-17  539.0  542.0  537.0  537.0  2387500
2023-03-20  537.0  539.0  534.0  535.0  1641300
2023-03-22  542.0  544.0  540.0  542.0  1545900
2023-03-23  542.0  545.0  541.0  544.0  1379700
2023-03-24  544.0  550.0  544.0  549.0  1966400
2023-03-27  553.0  554.0  549.0  549.0  1338500
2023-03-28  550.0  551.0  545.0  548.0  1864800
2023-03-29  551.0  555.0  549.0  555.0  2973400
2023-03-30  543.0  545.0  538.0  540.0  2067500
2023-03-31  545.0  547.0  542.0  543.0  1954000
2023-04-03  546.0  551.0  543.0  551.0  1279600
2023-04-04  552.0  552.0  547.0  551.0  1026100
2023-04-05  549.0  552.0  543.0  545.0  1727400
2023-04-06  545.0  552.0  543.0  547.0  1667000
2023-04-07  550.0  551.0  548.0  548.0  1419300
2023-04-10  550.0  552.0  549.0  549.0   980000
2023-04-11  549.0  556.0  548.0  554.0  1909500
2023-04-12  555.0  565.0  553.0  560.0  2372900
2023-04-13  561.0  565.0  557.0  564.0  1609800
2023-04-14  567.0  569.0  565.0  567.0  2056900
2023-04-17  567.0  567.0  561.0  566.0  1456000
2023-04-18  573.0  584.0  572.0  580.0  2500900
2023-04-19  579.0  581.0  575.0  581.0  1704600
2023-04-20  580.0  588.0  579.0  585.0  1611500
2023-04-21  583.0  585.0  578.0  582.0  1386000
2023-04-24  587.0  587.0  582.0  584.0   761500
2023-04-25  584.0  585.0  581.0  582.0  1182300
2023-04-26  583.0  586.0  581.0  583.0  1206800
2023-04-27  583.0  584.0  577.0  584.0  1153100
2023-04-28  587.0  594.0  586.0  594.0  1461200
2023-05-01  598.0  600.0  593.0  596.0  1474200
2023-05-02  598.0  601.0  591.0  596.0  2070200
2023-05-08  591.0  599.0  591.0  596.0  1811000
2023-05-09  598.0  601.0  595.0  601.0  1110200
2023-05-10  602.0  602.0  593.0  596.0  1062600
2023-05-11  591.0  594.0  586.0  587.0  1297200
2023-05-12  588.0  624.0  584.0  622.0  5378900

TypeError: ignored