<a href="https://colab.research.google.com/github/hirokimituya/stock-price-analysis/blob/main/technical_analysis/%E9%8A%98%E6%9F%84%E9%81%B8%E5%AE%9A%E9%96%A2%E6%95%B0_csv%E4%BF%9D%E5%AD%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Google Colaboratoryに画像を保存できるように設定
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/株式投資')

Mounted at /content/drive

In [ ]:
# Ta-Libの代替としてpandas_taを利用している。Ta-Libの関数名を小文字にしたものがあるイメージ
!pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=76c3e42202148066f94c2cd7e2787af6dcc9ac9cd7af51cad0127dedb75274a5
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [ ]:
!pip install yahoo_finance_api2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo_finance_api2
  Downloading yahoo_finance_api2-0.0.12.tar.gz (3.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (3.4)
Building wheels for collected packages: yahoo_finance_api2
  Building wheel for yahoo_finance_api2 (setup.py) ... done
  Created wheel for yahoo_finance_api2: filename=yahoo_finance_api2-0.0.12-py3-none-any.whl size=3714 sha256=a6adb4443decb9345e76b1e2b87b09ade20f2106456430d67725cc1d75bba8ee
  Stored in directory: /root/.cache/pip/wheels/e2/40/e3/f3d8054a41d7d85065555037525f48f56119cafbc5fcddf427
Successfully built yahoo_finance_api2
Installing collected packages: yahoo_finance_api2
Successfully installed yahoo_finance_api2-0.0.12

# 銘柄コードから株価情報を取得する関数

In [ ]:
from yahoo_finance_api2 import share as yapi2
from yahoo_finance_api2.exceptions import YahooFinanceError
import datetime as dt
from datetime import date,timedelta
import pandas as pd

# 株価データを取得するメソッド
def get_stock_data_yapi2(code, period_type='year', period=10):
    """株価データを取得する

    :param code: 取得する株価データの銘柄コード
    :param period_type: 取得する株価データの期間の単位（例: 'year', 'month', 'week', 'day'）
    :param period: 取得する株価データの期間の数値
    :return: 株価データのデータフレーム（もし株価データが存在しない場合は、None）
    """
    if period_type == 'month':
        period_type_value = yapi2.PERIOD_TYPE_MONTH
    elif period_type == 'week':
        period_type_value = yapi2.PERIOD_TYPE_WEEK
    elif period_type == 'day':
        period_type_value = yapi2.PERIOD_TYPE_DAY
    else:
        period_type_value = yapi2.PERIOD_TYPE_YEAR

    try:
        data = yapi2.Share(f'{code}.T').get_historical(
            period_type_value,
            period,
            yapi2.FREQUENCY_TYPE_DAY,
            1
        )
    except YahooFinanceError as e:
        print(e.message)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    df = pd.DataFrame(data)

    try:
        # タイムスタンプをDateTime型に変更
        df['datetime'] = pd.to_datetime(df['timestamp'], unit='ms')
    except KeyError as e:
        print(e)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    # 日本時間へ変換
    df['Date'] = df['datetime'] + dt.timedelta(hours=9)

    # インデックスをDateカラムに設定
    df.index = pd.to_datetime(df['Date'].dt.date)

    # 不要なカラムを削除
    del df['Date'], df['datetime'], df['timestamp']

    # 各カラムの最初の文字を大文字に変換
    for col in df.columns:
        df[f'{col.capitalize()}'] = df[col]
        del df[col]

    return df

# 東証上場の銘柄一覧を取得する関数（ダウンロードはしない）

In [ ]:
from pandas.io.formats.info import DataFrameTableBuilderNonVerbose
import requests
import pandas as pd

def get_ticker_tse(segment='prime'):
    """東証上場の銘柄コード一覧を取得する

    :param segment: 東証上場の市場区分（例: 'prime' or 'standard' or 'grows'）
    :return: 東証上場の銘柄コード一覧
    """
    segments = {
        'prime': 'プライム',
        'standard': 'スタンダード',
        'grows': 'グロース'
    }

    if segment not in segments:
        raise Exception("get_ticker_tse関数のsegment引数の値は'prime', 'standard', 'grows'のいずれかにしてください")

    # サイトからダウンロードしないようにコメントアウト
    #url = "https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls"
    #r = requests.get(url)
    #with open('data_j.xls', 'wb') as output:
    #    output.write(r.content)

    df = pd.read_excel("./data/data_j.xls")

    # 引数の市場区分のみに絞り込み
    df = df[df['市場・商品区分'].str.startswith(segments[segment])]

    # カラムの削除とカラム名変更
    df = df[['銘柄名', 'コード', '33業種区分']]   # 必要なカラムのみにする
    df = df.rename(columns={'33業種区分': '業種'})
    df['コード'] = df['コード'].astype(int) # コードを整数に変更

    return df

# 株価情報を出来高や株価、パーフェクトオーダーでフィルタリングする関数

In [ ]:
import pandas_ta as ta
import math

def is_perfect_order(stock_df, mas, period_type='D', reverse=False):
    """株価情報がパーフェクトオーダーどうかの判定

    :param stock_df: 対象の株価情報のデータフレーム
    :param mas: 移動平均線に使用するためのリスト（例: [5, 25, 75]）
    :param period_type: 期間をどの単位にするか（'W' or 'M'）
    :param reverse: 下降トレンドのパーフェクトオーダーを検出する場合は、True / 上昇トレンドの場合は、False
    :return: 株価情報がパーフェクトオーダーの場合は、True / それ以外の場合は、False
    """

    df = stock_df.copy()

    # 月足、周足にリサンプリング
    if period_type in ('M', 'W'):
        resampled = df.resample(period_type)
        df = resampled.aggregate({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'})

    close = df['Close']

    # 移動平均線の算出
    for ma in mas:
        df[f'ma{ma}{period_type}'] = ta.sma(close, ma)

    # パーフェクトオーダーかどうかの判定
    conditions = []
    try:
        if not reverse:
            # 上昇トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) >= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
        else:
            # 下降トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) <= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
    except:
        # 株価情報が少なくて移動平均線が取得できない場合は、無条件でFalseでリターンする
        return False


    result = all(conditions)

    return result

In [ ]:
def filtered_ticker(df, min_volume=None, max_price=None, min_price=None, perfect_order={}):
    """データフレームの銘柄コードから株価情報を取得して、指定された出来高や株価でフィルタリングする

    :param df: 対象のデータフレーム
    :param min_volume: 出来高の最小値を指定
    :param max_price: 株価の最大値を指定
    :param min_price: 株価の最小値を指定
    :param perfect_order: パーフェクトオーダーの判定に使用する辞書（例: {'mas': [5, 20, 60], 'period_type': 'D', 'reverse': False}）（辞書のキー'mas'のみ必須）
    :return: 出来高や株価でフィルタリングしたデータフレーム
    """
    result_list = []

    # データフレームを辞書のリストに変更
    df_to_dicts = df.to_dict(orient='records')

    # 各銘柄についてループ
    for row in df_to_dicts:
        # コードを取得
        code = row['コード']

        # 株価情報を取得
        if not perfect_order:
            stock_data = get_stock_data_yapi2(code, period_type='day', period=2)
        else:
            largest_mas = perfect_order.get('mas')[-1]
            period_type = perfect_order.get('period_type', 'D')
            if period_type == 'D':
                period = math.ceil(largest_mas / 15)
                stock_data = get_stock_data_yapi2(code, period_type='month', period=period)
            elif period_type == 'W':
                period = math.ceil(largest_mas * 7 / 365)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            elif period_type == 'M':
                period = math.ceil(largest_mas / 10)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            else:
                raise ValueError('引数perfect_orderは"D"か"W"か"M"のいずれかを指定してください')
        # 株価情報が取得できなかったら、次の銘柄コードに遷移
        if stock_data is None:
            continue

        # 出来高の条件に合わない場合、次の銘柄コードに遷移
        volume = stock_data['Volume'][-1]
        if min_volume is not None and volume < min_volume:
            continue

        # 価格の条件に合わない場合、次の銘柄コードに遷移
        price = stock_data['Close'][-1]
        if max_price is not None and price > max_price:
            continue
        if min_price is not None and price < min_price:
            continue

        # パーフェクトオーダーの条件に合わない場合、次の銘柄コードに遷移
        if perfect_order:
            mas = perfect_order.get('mas')
            period_type = perfect_order.get('period_type', 'D')
            reverse = perfect_order.get('reverse', False)
            if not is_perfect_order(stock_data, mas=mas, period_type=period_type, reverse=reverse):
                continue

        # 銘柄名と業種を設定
        result_list.append({
            '銘柄名': row['銘柄名'],
            'コード': code,
            '業種': row['業種'],
            '出来高': volume,
            '株価': price,
        })

    # 辞書のリストをデータフレームに変換
    result_df = pd.DataFrame.from_dict(result_list)

    return result_df

# CSVに保存する関数

In [ ]:
import datetime as dt
import os
import pytz

jst = pytz.timezone('Asia/Tokyo')
now = dt.datetime.now(jst)
now = now.strftime("%Y%m%d_%H%M%S")
# ディレクトリ名作成（YYYYMMDD_HHMMSS_screening）
directory = f'{now}_screening'

def save_df_as_csv(df, filename):
    """データフレームをCSVファイルとして保存する

    :param df: 対象のデータフレーム
    :param filename: 保存するcsvファイル名
    """
    # もしディレクトリが存在しなければ、作成する
    if not os.path.exists(directory):
        os.makedirs(directory)

    # データフレームをCSVに保存する
    df.to_csv(f'{directory}/{filename}.csv', index=False)

# 東証プライムをフィルタリングしてCSVとして保存

In [ ]:
# 東証プライム市場の銘柄コードを取得
tse_prime = get_ticker_tse('prime')
tse_prime

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

                  銘柄名   コード      業種
0                  極洋  1301  水産・農林業
16               ニッスイ  1332  水産・農林業
17             マルハニチロ  1333  水産・農林業
33             雪国まいたけ  1375  水産・農林業
35             サカタのタネ  1377  水産・農林業
...               ...   ...     ...
4262           サンドラッグ  9989     小売業
4263  サックスバー　ホールディングス  9990     小売業
4264             ジェコス  9991     卸売業
4267            グローセル  9995     卸売業
4269             ベルーナ  9997     小売業

[1836 rows x 3 columns]

In [ ]:
# 東証プライムの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
import time
start_time = time.time()
filtered_tse_prime = filtered_ticker(tse_prime, min_volume=500000, max_price=5000)
print(f'経過時間: {time.time() - start_time}秒')
filtered_tse_prime

Not Found: No data found, symbol may be delisted
銘柄コード[25935]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5128]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6924]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8096]の株価情報を取得できなかったため、スキップしました。
経過時間: 219.86626267433167秒

              銘柄名   コード      業種      出来高           株価
0            ニッスイ  1332  水産・農林業  1369600   661.200012
1    三井松島ホールディングス  1518      鉱業   525400  2574.000000
2           ＩＮＰＥＸ  1605      鉱業  9546200  1596.500000
3            安藤・間  1719     建設業   882000  1046.000000
4    コムシスホールディングス  1721     建設業   649400  2786.500000
..            ...   ...     ...      ...          ...
368     エイチ・アイ・エス  9603   サービス業  2058900  2066.000000
369  エヌ・ティ・ティ・データ  9613  情報・通信業  3001000  2002.500000
370          ＳＣＳＫ  9719  情報・通信業   800600  2277.500000
371   ヤマダホールディングス  9831     小売業  3284900   422.899994
372     ミスミグループ本社  9962     卸売業  1061700  3049.000000

[373 rows x 5 columns]

In [ ]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20, 60], 'period_type': 'W'})
filtered_perfect_order_week_tse_prime

              銘柄名   コード      業種      出来高           株価
0            ニッスイ  1332  水産・農林業  1369600   661.200012
1            安藤・間  1719     建設業   882000  1046.000000
2    コムシスホールディングス  1721     建設業   649400  2786.500000
3            大成建設  1801     建設業   723300  4940.000000
4             大林組  1802     建設業  1799700  1206.500000
..            ...   ...     ...      ...          ...
182          東北電力  9506  電気・ガス業  3544000   901.099976
183          四国電力  9507  電気・ガス業   989900   994.299988
184          九州電力  9508  電気・ガス業  2937100   927.099976
185         北海道電力  9509  電気・ガス業  1463600   609.299988
186          東京瓦斯  9531  電気・ガス業  1344100  3181.000000

[187 rows x 5 columns]

In [ ]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_prime = filtered_ticker(filtered_perfect_order_week_tse_prime,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_prime

              銘柄名   コード      業種      出来高           株価
0            ニッスイ  1332  水産・農林業  1369600   661.200012
1            安藤・間  1719     建設業   882000  1046.000000
2    コムシスホールディングス  1721     建設業   649400  2786.500000
3            大成建設  1801     建設業   723300  4940.000000
4             大林組  1802     建設業  1799700  1206.500000
..            ...   ...     ...      ...          ...
151          東北電力  9506  電気・ガス業  3544000   901.099976
152          四国電力  9507  電気・ガス業   989900   994.299988
153          九州電力  9508  電気・ガス業  2937100   927.099976
154         北海道電力  9509  電気・ガス業  1463600   609.299988
155          東京瓦斯  9531  電気・ガス業  1344100  3181.000000

[156 rows x 5 columns]

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_prime, '1_東証P_UPO')

In [ ]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20, 60], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_prime

                  銘柄名   コード      業種      出来高           株価
0              三井住友建設  1821     建設業   662500   368.000000
1   日本Ｍ＆Ａセンターホールディングス  2127   サービス業  3997200  1095.500000
2       リンクアンドモチベーション  2170   サービス業   812200   438.000000
3        パーソルホールディングス  2181   サービス業   773600  2658.500000
4          明治ホールディングス  2269     食料品   887400  3269.000000
..                ...   ...     ...      ...          ...
61    ＫＰＰグループホールディングス  9274     卸売業   581400   625.000000
62             イーレックス  9517  電気・ガス業   608400  1183.000000
63                レノバ  9519  電気・ガス業  2665900  1700.000000
64          エイチ・アイ・エス  9603   サービス業  2058900  2066.000000
65        ヤマダホールディングス  9831     小売業  3284900   422.899994

[66 rows x 5 columns]

In [ ]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_prime = filtered_ticker(filtered_reverse_perfect_order_week_tse_prime, perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_prime

               銘柄名   コード        業種       出来高           株価
0        ベネフィット・ワン  2412     サービス業    790100  1539.000000
1            エスプール  2471     サービス業    639100   544.000000
2              グリー  3632    情報・通信業    590500   644.000000
3             ｇｕｍｉ  3903    情報・通信業   1132300   669.000000
4              デンカ  4061        化学    584700  2597.500000
5          ＪＣＲファーマ  4552       医薬品    570200  1266.500000
6             大幸薬品  4574       医薬品    713900   354.000000
7            リソー教育  4714     サービス業   1456600   272.000000
8           楽天グループ  4755     サービス業  39586800   489.500000
9             ＴＯＴＯ  5332  ガラス・土石製品    627600  4315.000000
10  大阪チタニウムテクノロジーズ  5726      非鉄金属   1929500  2885.000000
11         東邦チタニウム  5727      非鉄金属    927300  1797.000000
12        ヤマシンフィルタ  6240        機械    645000   300.000000
13        ツバキ・ナカシマ  6464        機械   1822900   809.000000
14            ヤーマン  6630      電気機器    721500  1003.000000
15             ワコム  6727      電気機器   1101000   593.000000
16            シャープ  6753      電気機器   4419400   784.400024
17          カシオ計算機  6952      電気機器   1400400  1180.000000
18          イーレックス  9517    電気・ガス業    608400  1183.000000
19     ヤマダホールディングス  9831       小売業   3284900   422.899994

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_prime, '2_東証P_DPO')

# 東証スタンダードをフィルタリングしてCSVとして保存

In [ ]:
# 東証スタンダード市場の銘柄コードを取得
tse_standard = get_ticker_tse('standard')
tse_standard

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

         銘柄名   コード      業種
34     カネコ種苗  1376  水産・農林業
37      秋川牧園  1380  水産・農林業
38     アクシーズ  1381  水産・農林業
39       ホーブ  1382  水産・農林業
40    ベルグアース  1383  水産・農林業
...      ...   ...     ...
4257   タキヒヨー  9982     卸売業
4260    蔵王産業  9986     卸売業
4265    ヤマザワ  9993     小売業
4266     やまや  9994     小売業
4268   サトー商会  9996     卸売業

[1447 rows x 3 columns]

In [ ]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_tse_standard = filtered_ticker(tse_standard, min_volume=200000, max_price=5000)
filtered_tse_standard

'timestamp'
銘柄コード[2777]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5104]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5999]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7961]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8521]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9318]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9734]の株価情報を取得できなかったため、スキップしました。

                    銘柄名   コード      業種       出来高      株価
0          ウエストホールディングス  1407     建設業    502300  2725.0
1                  中外鉱業  1491    非鉄金属    239000    31.0
2            住石ホールディングス  1514      鉱業    858100   354.0
3          中小企業ホールディングス  1757     建設業   4272000    52.0
4        アジアゲートホールディングス  1783     建設業    699400    55.0
..                  ...   ...     ...       ...     ...
107                 乾汽船  9308     海運業    217400  1309.0
108  ビート・ホールディングス・リミテッド  9399  情報・通信業   2438680     5.0
109  アゴーラ　ホスピタリティー　グループ  9704   サービス業    290600    25.0
110                北沢産業  9930     卸売業    292400   427.0
111                小僧寿し  9973     小売業  13484000    23.0

[112 rows x 5 columns]

In [ ]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20, 60], 'period_type': 'W'})
filtered_perfect_order_week_tse_standard

                   銘柄名   コード          業種        出来高      株価
0           住石ホールディングス  1514          鉱業     858100   354.0
1         中小企業ホールディングス  1757         建設業    4272000    52.0
2                  シダー  2435       サービス業    1156200   270.0
3              フュートレック  2468       サービス業    1708400   291.0
4        ライフドリンク　カンパニー  2585         食料品     228200  3705.0
5              イメージ　ワン  2667         卸売業    2445100   780.0
6          コメ兵ホールディングス  2780         小売業     217300  4420.0
7              ビューティ花壇  3041         卸売業     302300  1445.0
8                プロパスト  3236        不動産業     288100   172.0
9       クラウディアホールディングス  3607        繊維製品     879200   783.0
10               ｅｎｉｓｈ  3667      情報・通信業    1986900   421.0
11              ジェクシード  3719      情報・通信業     273900   233.0
12                  パス  3840      情報・通信業     851200   128.0
13    ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993      情報・通信業    1677900  3235.0
14                細谷火工  4274          化学     255400  1655.0
15                 オハラ  5218    ガラス・土石製品     249800  1518.0
16        ダントーホールディングス  5337    ガラス・土石製品     266600   762.0
17               不二サッシ  5940        金属製品    1163800    83.0
18                ヤマシナ  5955        金属製品    5252800    91.0
19             守谷輸送機工業  6226          機械     207600  1209.0
20             ＡＩメカテック  6227          機械     565900  2000.0
21   ハーモニック・ドライブ・システムズ  6324          機械     399700  4700.0
22                北川精機  6327          機械     331300   747.0
23              エヌリンクス  6578       サービス業     211300   304.0
24              ＴＢグループ  6775        電気機器    2244700   286.0
25         伊豆シャボテンリゾート  6819       サービス業     347800   316.0
26    アライドテレシスホールディングス  6835        電気機器     424100   113.0
27       ＡＫＩＢＡホールディングス  6840        電気機器    1556100   537.0
28         ミナトホールディングス  6862        電気機器     212700   618.0
29             三社電機製作所  6882        電気機器     233800  1360.0
30     フェローテックホールディングス  6890        電気機器    5158200  3470.0
31    ヘリオス　テクノ　ホールディング  6927        電気機器    4565000  1115.0
32        サノヤスホールディングス  7022          機械     237400   138.0
33           三菱ロジスネクスト  7105       輸送用機器     250200  1251.0
34                 ＧＭＢ  7214       輸送用機器     399300  2150.0
35               ニチリョク  7578         小売業     675400   193.0
36                 ポプラ  7601         小売業     296300   199.0
37                テイツー  7610         小売業    4648700   187.0
38                  音通  7647         小売業  108589100    29.0
39               アビックス  7836       その他製品     828700   106.0
40              アルメディオ  7859       その他製品     475900   517.0
41             ＳＢＩ新生銀行  8303         銀行業     509400  2807.0
42                 アコム  8572      その他金融業    2919900   350.0
43      トレイダーズホールディングス  8704  証券、商品先物取引業     455300   570.0
44              あかつき本社  8737  証券、商品先物取引業     205100   367.0
45                レーサム  8890        不動産業     203600  2967.0
46  アゴーラ　ホスピタリティー　グループ  9704       サービス業     290600    25.0
47                北沢産業  9930         卸売業     292400   427.0

In [ ]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_standard = filtered_ticker(filtered_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_standard

                   銘柄名   コード          業種        出来高      株価
0           住石ホールディングス  1514          鉱業     858100   354.0
1         中小企業ホールディングス  1757         建設業    4272000    52.0
2        ライフドリンク　カンパニー  2585         食料品     228200  3705.0
3              イメージ　ワン  2667         卸売業    2445100   780.0
4          コメ兵ホールディングス  2780         小売業     217300  4420.0
5              ビューティ花壇  3041         卸売業     302300  1445.0
6                プロパスト  3236        不動産業     288100   172.0
7       クラウディアホールディングス  3607        繊維製品     879200   783.0
8                   パス  3840      情報・通信業     851200   128.0
9     ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993      情報・通信業    1677900  3235.0
10                細谷火工  4274          化学     255400  1655.0
11                 オハラ  5218    ガラス・土石製品     249800  1518.0
12        ダントーホールディングス  5337    ガラス・土石製品     266600   762.0
13               不二サッシ  5940        金属製品    1163800    83.0
14             守谷輸送機工業  6226          機械     207600  1209.0
15             ＡＩメカテック  6227          機械     565900  2000.0
16                北川精機  6327          機械     331300   747.0
17              エヌリンクス  6578       サービス業     211300   304.0
18         伊豆シャボテンリゾート  6819       サービス業     347800   316.0
19    アライドテレシスホールディングス  6835        電気機器     424100   113.0
20             三社電機製作所  6882        電気機器     233800  1360.0
21     フェローテックホールディングス  6890        電気機器    5158200  3470.0
22    ヘリオス　テクノ　ホールディング  6927        電気機器    4565000  1115.0
23        サノヤスホールディングス  7022          機械     237400   138.0
24           三菱ロジスネクスト  7105       輸送用機器     250200  1251.0
25                 ＧＭＢ  7214       輸送用機器     399300  2150.0
26               ニチリョク  7578         小売業     675400   193.0
27                  音通  7647         小売業  108589100    29.0
28              アルメディオ  7859       その他製品     475900   517.0
29                 アコム  8572      その他金融業    2919900   350.0
30      トレイダーズホールディングス  8704  証券、商品先物取引業     455300   570.0
31              あかつき本社  8737  証券、商品先物取引業     205100   367.0
32                レーサム  8890        不動産業     203600  2967.0
33  アゴーラ　ホスピタリティー　グループ  9704       サービス業     290600    25.0

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_standard, '3_東証S_UPO')

In [ ]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20, 60], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_standard

                   銘柄名   コード          業種       出来高      株価
0         ウエストホールディングス  1407         建設業    502300  2725.0
1       アジアゲートホールディングス  1783         建設業    699400    55.0
2                 クルーズ  2138      情報・通信業    664100   870.0
3                  クシム  2345      情報・通信業    717600   319.0
4                  出前館  2484      情報・通信業    861400   399.0
5           ピクセルカンパニーズ  2743         卸売業    841600    47.0
6                  セリア  2782         小売業    227900  2287.0
7              メタプラネット  3350         卸売業    211900    22.0
8           ブロードバンドタワー  3776      情報・通信業    991600   149.0
9             サイバーステップ  3810      情報・通信業    333200   443.0
10           リミックスポイント  3825      情報・通信業   1173500   242.0
11             千代田化工建設  6366         建設業   1764800   356.0
12            リバーエレテック  6666        電気機器   1052200   636.0
13              ウインテスト  6721        電気機器    673900   120.0
14                ピクセラ  6731        電気機器   2727000     3.0
15                 ＲＶＨ  6786       サービス業    277200    61.0
16         大黒屋ホールディングス  6993         小売業   1062800    55.0
17                 きもと  7908          化学    209400   196.0
18               キムラタン  8107        繊維製品    237900    20.0
19             プロルート丸光  8256         卸売業    841800    47.0
20               Ｊトラスト  8508      その他金融業   1001700   417.0
21                第一商品  8746  証券、商品先物取引業    395200   103.0
22                 ＧＦＡ  8783      その他金融業    292200    81.0
23                 ランド  8918        不動産業  22346700     9.0
24      ビジョナリーホールディングス  9263         小売業    258900   123.0
25                 乾汽船  9308         海運業    217400  1309.0
26  ビート・ホールディングス・リミテッド  9399      情報・通信業   2438680     5.0

In [ ]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_standard = filtered_ticker(filtered_reverse_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_standard

                   銘柄名   コード          業種       出来高      株価
0         ウエストホールディングス  1407         建設業    502300  2725.0
1                  クシム  2345      情報・通信業    717600   319.0
2              メタプラネット  3350         卸売業    211900    22.0
3             サイバーステップ  3810      情報・通信業    333200   443.0
4            リミックスポイント  3825      情報・通信業   1173500   242.0
5                 ピクセラ  6731        電気機器   2727000     3.0
6                キムラタン  8107        繊維製品    237900    20.0
7              プロルート丸光  8256         卸売業    841800    47.0
8                 第一商品  8746  証券、商品先物取引業    395200   103.0
9                  ランド  8918        不動産業  22346700     9.0
10  ビート・ホールディングス・リミテッド  9399      情報・通信業   2438680     5.0

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_standard, '4_東証S_DPO')

# 東証グロースをフィルタリングしてCSVとして保存

In [ ]:
# 東証スタンダード市場の銘柄コードを取得
tse_grows = get_ticker_tse('grows')
tse_grows

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

                     銘柄名   コード     業種
55         ルーデン・ホールディングス  1400    建設業
56                エムビーエス  1401    建設業
65              Ｌｉｂ　Ｗｏｒｋ  1431    建設業
70                  フィット  1436    建設業
75                  ニッソウ  1444    建設業
...                  ...   ...    ...
4079              プログリット  9560  サービス業
4080            グラッドキューブ  9561  サービス業
4081             ビジネスコーチ  9562  サービス業
4082  Ａｔｌａｓ　Ｔｅｃｈｎｏｌｏｇｉｅｓ  9563  サービス業
4084       ウェルプレイド・ライゼスト  9565  サービス業

[530 rows x 3 columns]

In [ ]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_tse_grows = filtered_ticker(tse_grows, min_volume=200000, max_price=5000)
filtered_tse_grows

'timestamp'
銘柄コード[21649]の株価情報を取得できなかったため、スキップしました。

                 銘柄名   コード      業種      出来高      株価
0              ケアネット  2150   サービス業   643600   960.0
1            ＦＲＯＮＴＥＯ  2158   サービス業  3205900   836.0
2         ジーエヌアイグループ  2160     医薬品  3495100  1508.0
3    ソフトフロントホールディングス  2321  情報・通信業   486200   126.0
4                イオレ  2334   サービス業   877400  2273.0
..               ...   ...     ...      ...     ...
124         ＩＮＦＯＲＩＣＨ  9338   サービス業   247200  1886.0
125           ＧＥＮＯＶＡ  9341   サービス業   741900  2081.0
126           ｉｓｐａｃｅ  9348   サービス業   848500  1718.0
127     リニューアブル・ジャパン  9522  電気・ガス業   783700   731.0
128           プログリット  9560   サービス業  4930100  4365.0

[129 rows x 5 columns]

In [ ]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20, 60], 'period_type': 'W'})
filtered_perfect_order_week_tse_grows

                      銘柄名   コード      業種       出来高      株価
0         ソフトフロントホールディングス  2321  情報・通信業    486200   126.0
1                     イオレ  2334   サービス業    877400  2273.0
2                      海帆  3133     小売業  19852000   748.0
3                    ロコンド  3558     小売業    269700  1838.0
4              ＦＦＲＩセキュリティ  3692  情報・通信業    252200  1561.0
5                  アプリックス  3727  情報・通信業    231600   161.0
6             アドバンスト・メディア  3773  情報・通信業    213500  2044.0
7                  Ａｉｍｉｎｇ  3911  情報・通信業    913900   445.0
8            シェアリングテクノロジー  3989  情報・通信業    937800   766.0
9                 ティアンドエス  4055  情報・通信業    480000  2835.0
10       プラスアルファ・コンサルティング  4071  情報・通信業    259000  3395.0
11                   プレイド  4165  情報・通信業   1909500   846.0
12              ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業    489100  1370.0
13                   サスメド  4263  情報・通信業    402200  1703.0
14                   セキュア  4264  情報・通信業    476200  3335.0
15                   ＪＤＳＣ  4418  情報・通信業    209500  1048.0
16       Ｆｉｎａｔｅｘｔホールディングス  4419  情報・通信業    642000   866.0
17                インフォネット  4444  情報・通信業    302600  2212.0
18               Ｃｈａｔｗｏｒｋ  4448  情報・通信業    482400  1152.0
19         サイバーセキュリティクラウド  4493  情報・通信業    243400  3050.0
20          カイオム・バイオサイエンス  4583     医薬品    663300   197.0
21           オンコリスバイオファーマ  4588     医薬品    200700   702.0
22      ストリームメディアコーポレーション  4772  情報・通信業    794000   296.0
23                レナサイエンス  4889     医薬品   2659500   577.0
24                  Ｗａｑｏｏ  4937      化学    481500  2104.0
25                  リプロセル  4978      化学    962400   304.0
26                 ブランジスタ  6176   サービス業    243600   741.0
27                  メタリアル  6182   サービス業   1005800  2150.0
28               エヌ・ピー・シー  6255      機械    332000   560.0
29                  ＱＤレーザ  6613    電気機器   4838800   761.0
30                    ポート  7047   サービス業    629600  2336.0
31                    ピアズ  7066   サービス業    408200  2311.0
32                  ブシロード  7803   その他製品    678400   818.0
33          グローム・ホールディングス  8938    不動産業    222800  1350.0
34  Ｇｒｅｅｎ　Ｅａｒｔｈ　Ｉｎｓｔｉｔｕｔｅ  9212   サービス業    306300   784.0
35               ラストワンマイル  9252   サービス業    229100  4145.0

In [ ]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_grows = filtered_ticker(filtered_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_grows

                  銘柄名   コード      業種       出来高      株価
0     ソフトフロントホールディングス  2321  情報・通信業    486200   126.0
1                 イオレ  2334   サービス業    877400  2273.0
2                  海帆  3133     小売業  19852000   748.0
3                ロコンド  3558     小売業    269700  1838.0
4          ＦＦＲＩセキュリティ  3692  情報・通信業    252200  1561.0
5              アプリックス  3727  情報・通信業    231600   161.0
6         アドバンスト・メディア  3773  情報・通信業    213500  2044.0
7        シェアリングテクノロジー  3989  情報・通信業    937800   766.0
8             ティアンドエス  4055  情報・通信業    480000  2835.0
9    プラスアルファ・コンサルティング  4071  情報・通信業    259000  3395.0
10               プレイド  4165  情報・通信業   1909500   846.0
11          ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業    489100  1370.0
12               サスメド  4263  情報・通信業    402200  1703.0
13               セキュア  4264  情報・通信業    476200  3335.0
14   Ｆｉｎａｔｅｘｔホールディングス  4419  情報・通信業    642000   866.0
15            インフォネット  4444  情報・通信業    302600  2212.0
16     サイバーセキュリティクラウド  4493  情報・通信業    243400  3050.0
17       オンコリスバイオファーマ  4588     医薬品    200700   702.0
18  ストリームメディアコーポレーション  4772  情報・通信業    794000   296.0
19              Ｗａｑｏｏ  4937      化学    481500  2104.0
20              リプロセル  4978      化学    962400   304.0
21             ブランジスタ  6176   サービス業    243600   741.0
22              メタリアル  6182   サービス業   1005800  2150.0
23              ＱＤレーザ  6613    電気機器   4838800   761.0
24                ポート  7047   サービス業    629600  2336.0
25                ピアズ  7066   サービス業    408200  2311.0
26              ブシロード  7803   その他製品    678400   818.0
27      グローム・ホールディングス  8938    不動産業    222800  1350.0
28           ラストワンマイル  9252   サービス業    229100  4145.0

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_grows, '5_東証G_UPO')

In [ ]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20, 60], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_grows

                 銘柄名   コード      業種      出来高      株価
0              ケアネット  2150   サービス業   643600   960.0
1             メディネット  2370   サービス業  1857800    68.0
2           サンワカンパニー  3187     小売業   447500   654.0
3         ディー・ディー・エス  3782  情報・通信業  1268500    47.0
4           グローバルウェイ  3936  情報・通信業   524900   219.0
5               ココナラ  4176  情報・通信業   544400   372.0
6              アクリート  4395  情報・通信業   482200  1986.0
7     ミンカブ・ジ・インフォノイド  4436  情報・通信業   312800  1782.0
8               ＢＡＳＥ  4477  情報・通信業  2357900   266.0
9      オンコセラピー・サイエンス  4564     医薬品  3112600    42.0
10           シンバイオ製薬  4582     医薬品   583300   455.0
11             リボミック  4591     医薬品   331900   166.0
12             サンバイオ  4592     医薬品   269500   656.0
13              ヘリオス  4593     医薬品  1142700   283.0
14      窪田製薬ホールディングス  4596     医薬品   214000   104.0
15        ソレイジア・ファーマ  4597     医薬品  1553400    48.0
16              モダリス  4883     医薬品   917600   288.0
17           ステラファーマ  4888     医薬品   261900   319.0
18              日本電解  5759    非鉄金属   321900  1990.0
19              イトクロ  6049   サービス業   201600   293.0
20            トレンダーズ  6069   サービス業   274100  1180.0
21        アライドアーキテクツ  6081   サービス業   368500   443.0
22           ＮｅｘＴｏｎｅ  7094   サービス業   343900  2392.0
23  アイ・パートナーズフィナンシャル  7345  その他金融業   605100   529.0
24     アイドマ・ホールディングス  7373   サービス業   760900  2767.0
25    スリー・ディー・マトリックス  7777    精密機器   713700   193.0

In [ ]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_grows = filtered_ticker(filtered_reverse_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_grows

          銘柄名   コード      業種      出来高     株価
0  ディー・ディー・エス  3782  情報・通信業  1268500   47.0
1     ステラファーマ  4888     医薬品   261900  319.0

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_grows, '6_東証G_DPO')

# 東証スタンダード・プライム選抜をCSVとして保存

In [ ]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
filtered_tse_standard_2 = filtered_ticker(tse_standard, min_volume=500000, max_price=5000)
filtered_tse_standard_2

'timestamp'
銘柄コード[2777]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5104]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5999]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7961]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8521]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9318]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9734]の株価情報を取得できなかったため、スキップしました。

                      銘柄名   コード      業種        出来高      株価
0            ウエストホールディングス  1407     建設業     502300  2725.0
1              住石ホールディングス  1514      鉱業     858100   354.0
2            中小企業ホールディングス  1757     建設業    4272000    52.0
3          アジアゲートホールディングス  1783     建設業     699400    55.0
4           燦キャピタルマネージメント  2134   サービス業    8312400    34.0
5                    クルーズ  2138  情報・通信業     664100   870.0
6           ＣＡＩＣＡ　ＤＩＧＩＴＡＬ  2315  情報・通信業    3712400    65.0
7                     クシム  2345  情報・通信業     717600   319.0
8                     シダー  2435   サービス業    1156200   270.0
9    Ｓｈｉｎｗａ　Ｗｉｓｅ　Ｈｏｌｄｉｎｇｓ  2437   サービス業     658800   616.0
10                フュートレック  2468   サービス業    1708400   291.0
11                    出前館  2484  情報・通信業     861400   399.0
12                イメージ　ワン  2667     卸売業    2445100   780.0
13             ピクセルカンパニーズ  2743     卸売業     841600    47.0
14  ＳＡＮＫＯ　ＭＡＲＫＥＴＩＮＧ　ＦＯＯＤＳ  2762     小売業     602900   189.0
15                    レカム  3323     卸売業    1196500    92.0
16         クラウディアホールディングス  3607    繊維製品     879200   783.0
17                  ｅｎｉｓｈ  3667  情報・通信業    1986900   421.0
18              ディー・エル・イー  3686  情報・通信業    1082800   338.0
19               インタートレード  3747  情報・通信業     954000   484.0
20             ブロードバンドタワー  3776  情報・通信業     991600   149.0
21              リミックスポイント  3825  情報・通信業    1173500   242.0
22                     パス  3840  情報・通信業     851200   128.0
23       ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993  情報・通信業    1677900  3235.0
24         セプテーニ・ホールディングス  4293   サービス業     853400   397.0
25                  Ｓｐｅｅｅ  4499  情報・通信業     659800  2272.0
26                  不二サッシ  5940    金属製品    1163800    83.0
27                   ヤマシナ  5955    金属製品    5252800    91.0
28                ＡＩメカテック  6227      機械     565900  2000.0
29                千代田化工建設  6366     建設業    1764800   356.0
30          ＪＡＬＣＯホールディングス  6625    不動産業     902200   201.0
31               リバーエレテック  6666    電気機器    1052200   636.0
32                 ウインテスト  6721    電気機器     673900   120.0
33                   ピクセラ  6731    電気機器    2727000     3.0
34                 ＴＢグループ  6775    電気機器    2244700   286.0
35          ＡＫＩＢＡホールディングス  6840    電気機器    1556100   537.0
36        フェローテックホールディングス  6890    電気機器    5158200  3470.0
37       ヘリオス　テクノ　ホールディング  6927    電気機器    4565000  1115.0
38            大黒屋ホールディングス  6993     小売業    1062800    55.0
39                  名村造船所  7014   輸送用機器    2808200   546.0
40             住信ＳＢＩネット銀行  7163     銀行業    1335500  1649.0
41                  ニチリョク  7578     小売業     675400   193.0
42                   テイツー  7610     小売業    4648700   187.0
43                     音通  7647     小売業  108589100    29.0
44             アースインフィニティ  7692     小売業    3987000   203.0
45                  クボテック  7709    精密機器    3489200   352.0
46                  アビックス  7836   その他製品     828700   106.0
47                プロルート丸光  8256     卸売業     841800    47.0
48                ＳＢＩ新生銀行  8303     銀行業     509400  2807.0
49                  Ｊトラスト  8508  その他金融業    1001700   417.0
50                    アコム  8572  その他金融業    2919900   350.0
51           フィンテック　グローバル  8789  その他金融業     676500    63.0
52                    ランド  8918    不動産業   22346700     9.0
53     ビート・ホールディングス・リミテッド  9399  情報・通信業    2438680     5.0
54                   小僧寿し  9973     小売業   13484000    23.0

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_tse_standard_2, '7_東証S_選抜')

In [ ]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
filtered_tse_standard_2 = filtered_ticker(tse_grows, min_volume=500000, max_price=5000)
filtered_tse_standard_2

'timestamp'
銘柄コード[21649]の株価情報を取得できなかったため、スキップしました。

             銘柄名   コード      業種      出来高      株価
0          ケアネット  2150   サービス業   643600   960.0
1        ＦＲＯＮＴＥＯ  2158   サービス業  3205900   836.0
2     ジーエヌアイグループ  2160     医薬品  3495100  1508.0
3            イオレ  2334   サービス業   877400  2273.0
4         メディネット  2370   サービス業  1857800    68.0
..           ...   ...     ...      ...     ...
60       マイクロ波化学  9227   サービス業  1325800  1823.0
61        ＧＥＮＯＶＡ  9341   サービス業   741900  2081.0
62        ｉｓｐａｃｅ  9348   サービス業   848500  1718.0
63  リニューアブル・ジャパン  9522  電気・ガス業   783700   731.0
64        プログリット  9560   サービス業  4930100  4365.0

[65 rows x 5 columns]

In [ ]:
# CSVファイル保存
save_df_as_csv(filtered_tse_standard_2, '8_東証G_選抜')