<a href="https://colab.research.google.com/github/hirokimituya/stock-price-analysis/blob/main/technical_analysis/%E9%8A%98%E6%9F%84%E9%81%B8%E5%AE%9A%E9%96%A2%E6%95%B0_csv%E4%BF%9D%E5%AD%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Google Colaboratoryに画像を保存できるように設定
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/株式投資')

Mounted at /content/drive

In [2]:
# Ta-Libの代替としてpandas_taを利用している。Ta-Libの関数名を小文字にしたものがあるイメージ
!pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=5a94e7a4aee48a94659fda1d0c9284a809e4e8e5ac56ce6b3377260f64c6bce0
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [3]:
!pip install yahoo_finance_api2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo_finance_api2
  Downloading yahoo_finance_api2-0.0.12.tar.gz (3.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (3.4)
Building wheels for collected packages: yahoo_finance_api2
  Building wheel for yahoo_finance_api2 (setup.py) ... done
  Created wheel for yahoo_finance_api2: filename=yahoo_finance_api2-0.0.12-py3-none-any.whl size=3714 sha256=ae5683751b61e12f195b691faf65cf8ad9f6178afe074e3972a1e92b61815edf
  Stored in directory: /root/.cache/pip/wheels/e2/40/e3/f3d8054a41d7d85065555037525f48f56119cafbc5fcddf427
Successfully built yahoo_finance_api2
Installing collected packages: yahoo_finance_api2
Successfully installed yahoo_finance_api2-0.0.12

# 銘柄コードから株価情報を取得する関数

In [4]:
from yahoo_finance_api2 import share as yapi2
from yahoo_finance_api2.exceptions import YahooFinanceError
import datetime as dt
from datetime import date,timedelta
import pandas as pd

# 株価データを取得するメソッド
def get_stock_data_yapi2(code, period_type='year', period=10):
    """株価データを取得する

    :param code: 取得する株価データの銘柄コード
    :param period_type: 取得する株価データの期間の単位（例: 'year', 'month', 'week', 'day'）
    :param period: 取得する株価データの期間の数値
    :return: 株価データのデータフレーム（もし株価データが存在しない場合は、None）
    """
    if period_type == 'month':
        period_type_value = yapi2.PERIOD_TYPE_MONTH
    elif period_type == 'week':
        period_type_value = yapi2.PERIOD_TYPE_WEEK
    elif period_type == 'day':
        period_type_value = yapi2.PERIOD_TYPE_DAY
    else:
        period_type_value = yapi2.PERIOD_TYPE_YEAR

    try:
        data = yapi2.Share(f'{code}.T').get_historical(
            period_type_value,
            period,
            yapi2.FREQUENCY_TYPE_DAY,
            1
        )
    except YahooFinanceError as e:
        print(e.message)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    df = pd.DataFrame(data)

    try:
        # タイムスタンプをDateTime型に変更
        df['datetime'] = pd.to_datetime(df['timestamp'], unit='ms')
    except KeyError as e:
        print(e)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    # 日本時間へ変換
    df['Date'] = df['datetime'] + dt.timedelta(hours=9)

    # インデックスをDateカラムに設定
    df.index = pd.to_datetime(df['Date'].dt.date)

    # 不要なカラムを削除
    del df['Date'], df['datetime'], df['timestamp']

    # 各カラムの最初の文字を大文字に変換
    for col in df.columns:
        df[f'{col.capitalize()}'] = df[col]
        del df[col]

    return df

# 東証上場の銘柄一覧を取得する関数（ダウンロードはしない）

In [5]:
from pandas.io.formats.info import DataFrameTableBuilderNonVerbose
import requests
import pandas as pd

def get_ticker_tse(segment='prime'):
    """東証上場の銘柄コード一覧を取得する

    :param segment: 東証上場の市場区分（例: 'prime' or 'standard' or 'grows'）
    :return: 東証上場の銘柄コード一覧
    """
    segments = {
        'prime': 'プライム',
        'standard': 'スタンダード',
        'grows': 'グロース'
    }

    if segment not in segments:
        raise Exception("get_ticker_tse関数のsegment引数の値は'prime', 'standard', 'grows'のいずれかにしてください")

    # サイトからダウンロードしないようにコメントアウト
    #url = "https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls"
    #r = requests.get(url)
    #with open('data_j.xls', 'wb') as output:
    #    output.write(r.content)

    df = pd.read_excel("./data/data_j.xls")

    # 引数の市場区分のみに絞り込み
    df = df[df['市場・商品区分'].str.startswith(segments[segment])]

    # カラムの削除とカラム名変更
    df = df[['銘柄名', 'コード', '33業種区分']]   # 必要なカラムのみにする
    df = df.rename(columns={'33業種区分': '業種'})
    df['コード'] = df['コード'].astype(int) # コードを整数に変更

    return df

# 株価情報を出来高や株価、パーフェクトオーダーでフィルタリングする関数

In [6]:
import pandas_ta as ta
import math

def is_perfect_order(stock_df, mas, period_type='D', reverse=False):
    """株価情報がパーフェクトオーダーどうかの判定

    :param stock_df: 対象の株価情報のデータフレーム
    :param mas: 移動平均線に使用するためのリスト（例: [5, 25, 75]）
    :param period_type: 期間をどの単位にするか（'W' or 'M'）
    :param reverse: 下降トレンドのパーフェクトオーダーを検出する場合は、True / 上昇トレンドの場合は、False
    :return: 株価情報がパーフェクトオーダーの場合は、True / それ以外の場合は、False
    """

    df = stock_df.copy()

    # 月足、周足にリサンプリング
    if period_type in ('M', 'W'):
        resampled = df.resample(period_type)
        df = resampled.aggregate({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'})

    close = df['Close']

    # 移動平均線の算出
    for ma in mas:
        df[f'ma{ma}{period_type}'] = ta.sma(close, ma)

    # パーフェクトオーダーかどうかの判定
    conditions = []
    try:
        if not reverse:
            # 上昇トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) >= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
        else:
            # 下降トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) <= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
    except:
        # 株価情報が少なくて移動平均線が取得できない場合は、無条件でFalseでリターンする
        return False


    result = all(conditions)

    return result

In [7]:
def filtered_ticker(df, min_volume=None, max_price=None, min_price=None, perfect_order={}):
    """データフレームの銘柄コードから株価情報を取得して、指定された出来高や株価でフィルタリングする

    :param df: 対象のデータフレーム
    :param min_volume: 出来高の最小値を指定
    :param max_price: 株価の最大値を指定
    :param min_price: 株価の最小値を指定
    :param perfect_order: パーフェクトオーダーの判定に使用する辞書（例: {'mas': [5, 20, 60], 'period_type': 'D', 'reverse': False}）（辞書のキー'mas'のみ必須）
    :return: 出来高や株価でフィルタリングしたデータフレーム
    """
    result_list = []

    # データフレームを辞書のリストに変更
    df_to_dicts = df.to_dict(orient='records')

    # 各銘柄についてループ
    for row in df_to_dicts:
        # コードを取得
        code = row['コード']

        # 株価情報を取得
        if not perfect_order:
            stock_data = get_stock_data_yapi2(code, period_type='day', period=2)
        else:
            largest_mas = perfect_order.get('mas')[-1]
            period_type = perfect_order.get('period_type', 'D')
            if period_type == 'D':
                period = math.ceil(largest_mas / 15)
                stock_data = get_stock_data_yapi2(code, period_type='month', period=period)
            elif period_type == 'W':
                period = math.ceil(largest_mas * 7 / 365)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            elif period_type == 'M':
                period = math.ceil(largest_mas / 10)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            else:
                raise ValueError('引数perfect_orderは"D"か"W"か"M"のいずれかを指定してください')
        # 株価情報が取得できなかったら、次の銘柄コードに遷移
        if stock_data is None:
            continue

        # 出来高の条件に合わない場合、次の銘柄コードに遷移
        volume = stock_data['Volume'][-1]
        if min_volume is not None and volume < min_volume:
            continue

        # 価格の条件に合わない場合、次の銘柄コードに遷移
        price = stock_data['Close'][-1]
        if max_price is not None and price > max_price:
            continue
        if min_price is not None and price < min_price:
            continue

        # パーフェクトオーダーの条件に合わない場合、次の銘柄コードに遷移
        if perfect_order:
            mas = perfect_order.get('mas')
            period_type = perfect_order.get('period_type', 'D')
            reverse = perfect_order.get('reverse', False)
            if not is_perfect_order(stock_data, mas=mas, period_type=period_type, reverse=reverse):
                continue

        # 銘柄名と業種を設定
        result_list.append({
            '銘柄名': row['銘柄名'],
            'コード': code,
            '業種': row['業種'],
            '出来高': volume,
            '株価': price,
        })

    # 辞書のリストをデータフレームに変換
    result_df = pd.DataFrame.from_dict(result_list)

    return result_df

# CSVに保存する関数

In [45]:
import datetime as dt
import os
import pytz

jst = pytz.timezone('Asia/Tokyo')
now = dt.datetime.now()
now_jst = now.astimezone(jst).strftime("%Y%m%d_%H%M%S")
# ディレクトリ名作成（YYYYMMDD_HHMMSS_screening）
directory = f'{now_jst}_screening'

def save_df_as_csv(df, filename):
    """データフレームをCSVファイルとして保存する

    :param df: 対象のデータフレーム
    :param filename: 保存するcsvファイル名
    """
    # もしディレクトリが存在しなければ、作成する
    if not os.path.exists(directory):
        os.makedirs(directory)

    # データフレームをCSVに保存する
    df.to_csv(f'{directory}/{filename}.csv', index=False)

# 東証プライムをフィルタリングしてCSVとして保存

In [9]:
# 東証プライム市場の銘柄コードを取得
tse_prime = get_ticker_tse('prime')
tse_prime

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

                  銘柄名   コード      業種
0                  極洋  1301  水産・農林業
16               ニッスイ  1332  水産・農林業
17             マルハニチロ  1333  水産・農林業
33             雪国まいたけ  1375  水産・農林業
35             サカタのタネ  1377  水産・農林業
...               ...   ...     ...
4262           サンドラッグ  9989     小売業
4263  サックスバー　ホールディングス  9990     小売業
4264             ジェコス  9991     卸売業
4267            グローセル  9995     卸売業
4269             ベルーナ  9997     小売業

[1836 rows x 3 columns]

In [10]:
# 東証プライムの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
import time
start_time = time.time()
filtered_tse_prime = filtered_ticker(tse_prime, min_volume=500000, max_price=5000)
print(f'経過時間: {time.time() - start_time}秒')
filtered_tse_prime

Not Found: No data found, symbol may be delisted
銘柄コード[25935]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5128]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6924]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8096]の株価情報を取得できなかったため、スキップしました。
経過時間: 250.70522809028625秒

              銘柄名   コード      業種      出来高           株価
0            ニッスイ  1332  水産・農林業  1195700   660.000000
1    三井松島ホールディングス  1518      鉱業   704200  2582.000000
2           ＩＮＰＥＸ  1605      鉱業  9906700  1627.000000
3            安藤・間  1719     建設業   563100  1065.000000
4        オリエンタル白石  1786     建設業   820500   308.000000
..            ...   ...     ...      ...          ...
334     エイチ・アイ・エス  9603   サービス業  1428700  2126.000000
335  エヌ・ティ・ティ・データ  9613  情報・通信業  1961300  2058.500000
336          ＳＣＳＫ  9719  情報・通信業   529500  2316.000000
337   ヤマダホールディングス  9831     小売業  2702700   424.600006
338     ミスミグループ本社  9962     卸売業  1581000  3117.000000

[339 rows x 5 columns]

In [11]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20, 60], 'period_type': 'W'})
filtered_perfect_order_week_tse_prime

             銘柄名   コード      業種      出来高           株価
0           ニッスイ  1332  水産・農林業  1195700   660.000000
1           安藤・間  1719     建設業   563100  1065.000000
2            大林組  1802     建設業  3033000  1214.500000
3           清水建設  1803     建設業  2341800   905.000000
4    長谷工コーポレーション  1808     建設業   688300  1745.500000
..           ...   ...     ...      ...          ...
163         東北電力  9506  電気・ガス業  2883900   894.799988
164         四国電力  9507  電気・ガス業   600700   992.000000
165         九州電力  9508  電気・ガス業  1752500   899.700012
166        北海道電力  9509  電気・ガス業   947200   594.099976
167         東京瓦斯  9531  電気・ガス業  1545900  3189.000000

[168 rows x 5 columns]

In [12]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_prime = filtered_ticker(filtered_perfect_order_week_tse_prime,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_prime

             銘柄名   コード      業種      出来高           株価
0           ニッスイ  1332  水産・農林業  1195700   660.000000
1           安藤・間  1719     建設業   563100  1065.000000
2            大林組  1802     建設業  3033000  1214.500000
3           清水建設  1803     建設業  2341800   905.000000
4    長谷工コーポレーション  1808     建設業   688300  1745.500000
..           ...   ...     ...      ...          ...
138         東北電力  9506  電気・ガス業  2883900   894.799988
139         四国電力  9507  電気・ガス業   600700   992.000000
140         九州電力  9508  電気・ガス業  1752500   899.700012
141        北海道電力  9509  電気・ガス業   947200   594.099976
142         東京瓦斯  9531  電気・ガス業  1545900  3189.000000

[143 rows x 5 columns]

In [13]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_prime, '1_東証P_UPO')

In [14]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20, 60], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_prime

                    銘柄名   コード        業種       出来高           株価
0                三井住友建設  1821       建設業    760500   371.000000
1     日本Ｍ＆Ａセンターホールディングス  2127     サービス業   3533200  1114.500000
2          パーソルホールディングス  2181     サービス業    857200  2764.000000
3            明治ホールディングス  2269       食料品    574900  3230.000000
4                   いちご  2337      不動産業   1778000   277.000000
5             ベネフィット・ワン  2412     サービス業    515100  1570.000000
6                 エムスリー  2413     サービス業   2121600  3191.000000
7                 エスプール  2471     サービス業    782400   553.000000
8               インフォマート  2492     サービス業   7058700   328.000000
9                 ユーグレナ  2931       食料品    655000   898.000000
10          ペッパーフードサービス  3053       小売業   1827000   141.000000
11                 ＺＯＺＯ  3092       小売業   1632800  3048.000000
12                 ｇｕｍｉ  3903    情報・通信業    915400   675.000000
13                 住友化学  4005        化学   7810700   430.299988
14               信越化学工業  4063        化学   7609600  4642.000000
15                協和キリン  4151       医薬品   1004300  2771.500000
16              ソースネクスト  4344    情報・通信業   1302400   205.000000
17               住友ファーマ  4506       医薬品   1042800   660.799988
18               小野薬品工業  4528       医薬品   2005300  2775.500000
19              ＪＣＲファーマ  4552       医薬品    567100  1286.500000
20            Ｚホールディングス  4689    情報・通信業  11097200   358.200012
21                リソー教育  4714     サービス業   1589500   276.000000
22           サイバーエージェント  4751     サービス業   7965600  1165.000000
23               楽天グループ  4755     サービス業  33456600   498.299988
24                 ライオン  4912        化学   1432700  1390.000000
25                ファンケル  4921        化学    747700  2415.500000
26                 出光興産  5019   石油・石炭製品   1617600  2903.000000
27           テスホールディングス  5074       建設業   7315400  1102.000000
28                 日本碍子  5333  ガラス・土石製品    877400  1780.000000
29       大阪チタニウムテクノロジーズ  5726      非鉄金属    734200  2980.000000
30              東邦チタニウム  5727      非鉄金属    711400  1833.000000
31                ＬＩＸＩＬ  5938      金属製品   1678800  1901.000000
32       Ｍ＆Ａキャピタルパートナーズ  6080     サービス業    611300  3615.000000
33                インソース  6200     サービス業    715500  1276.000000
34             ヤマシンフィルタ  6240        機械    505800   301.000000
35                 ダイフク  6383        機械   1333600  3008.000000
36             ツバキ・ナカシマ  6464        機械   1063800   822.000000
37             ダブル・スコープ  6619      電気機器   4160600  1218.000000
38                 ヤーマン  6630      電気機器    820500  1015.000000
39                  ワコム  6727      電気機器    892200   608.000000
40           ジャパンディスプレイ  6740      電気機器  19155500    41.000000
41                 シャープ  6753      電気機器   3564300   793.400024
42                 アンリツ  6754      電気機器    532500  1217.500000
43            アルプスアルパイン  6770      電気機器   1062500  1248.000000
44               カシオ計算機  6952      電気機器    997500  1188.500000
45              三菱自動車工業  7211     輸送用機器  13513500   484.700012
46              曙ブレーキ工業  7238     輸送用機器    978000   140.000000
47  ネットプロテクションズホールディングス  7383    その他金融業   1140300   348.000000
48                オリンパス  7733      精密機器   4968800  2346.500000
49               スノーピーク  7816     その他製品    651700  1885.000000
50      バンダイナムコホールディングス  7832     その他製品   1391000  3409.000000
51                 アイフル  8515    その他金融業   3757000   345.000000
52                 栃木銀行  8550       銀行業    587900   249.000000
53          ＴＲＥホールディングス  9247     サービス業    517700  1231.000000
54               イーレックス  9517    電気・ガス業   1048400  1200.000000
55                  レノバ  9519    電気・ガス業   5685100  1726.000000
56            エイチ・アイ・エス  9603     サービス業   1428700  2126.000000
57          ヤマダホールディングス  9831       小売業   2702700   424.600006

In [15]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_prime = filtered_ticker(filtered_reverse_perfect_order_week_tse_prime, perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_prime

               銘柄名   コード      業種       出来高           株価
0        ベネフィット・ワン  2412   サービス業    515100  1570.000000
1            エスプール  2471   サービス業    782400   553.000000
2             ｇｕｍｉ  3903  情報・通信業    915400   675.000000
3          ＪＣＲファーマ  4552     医薬品    567100  1286.500000
4            リソー教育  4714   サービス業   1589500   276.000000
5           楽天グループ  4755   サービス業  33456600   498.299988
6   大阪チタニウムテクノロジーズ  5726    非鉄金属    734200  2980.000000
7          東邦チタニウム  5727    非鉄金属    711400  1833.000000
8         ヤマシンフィルタ  6240      機械    505800   301.000000
9         ツバキ・ナカシマ  6464      機械   1063800   822.000000
10            ヤーマン  6630    電気機器    820500  1015.000000
11             ワコム  6727    電気機器    892200   608.000000
12      ジャパンディスプレイ  6740    電気機器  19155500    41.000000
13            シャープ  6753    電気機器   3564300   793.400024
14          カシオ計算機  6952    電気機器    997500  1188.500000
15          スノーピーク  7816   その他製品    651700  1885.000000
16          イーレックス  9517  電気・ガス業   1048400  1200.000000
17             レノバ  9519  電気・ガス業   5685100  1726.000000

In [16]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_prime, '2_東証P_DPO')

# 東証スタンダードをフィルタリングしてCSVとして保存

In [17]:
# 東証スタンダード市場の銘柄コードを取得
tse_standard = get_ticker_tse('standard')
tse_standard

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

         銘柄名   コード      業種
34     カネコ種苗  1376  水産・農林業
37      秋川牧園  1380  水産・農林業
38     アクシーズ  1381  水産・農林業
39       ホーブ  1382  水産・農林業
40    ベルグアース  1383  水産・農林業
...      ...   ...     ...
4257   タキヒヨー  9982     卸売業
4260    蔵王産業  9986     卸売業
4265    ヤマザワ  9993     小売業
4266     やまや  9994     小売業
4268   サトー商会  9996     卸売業

[1447 rows x 3 columns]

In [18]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_tse_standard = filtered_ticker(tse_standard, min_volume=200000, max_price=5000)
filtered_tse_standard

'timestamp'
銘柄コード[2777]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5104]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5999]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7961]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8521]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9318]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9734]の株価情報を取得できなかったため、スキップしました。

                    銘柄名   コード      業種       出来高      株価
0          ウエストホールディングス  1407     建設業    639200  2680.0
1            住石ホールディングス  1514      鉱業    517100   363.0
2           ＳＤＳホールディングス  1711     建設業    414600   307.0
3          中小企業ホールディングス  1757     建設業   3492800    52.0
4        アジアゲートホールディングス  1783     建設業   1546200    54.0
..                  ...   ...     ...       ...     ...
98   ビート・ホールディングス・リミテッド  9399  情報・通信業   4671089     5.0
99   アゴーラ　ホスピタリティー　グループ  9704   サービス業    259400    25.0
100                リリカラ  9827     卸売業    213300   588.0
101                北沢産業  9930     卸売業    277700   421.0
102                小僧寿し  9973     小売業  38186400    23.0

[103 rows x 5 columns]

In [19]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20, 60], 'period_type': 'W'})
filtered_perfect_order_week_tse_standard

                   銘柄名   コード          業種        出来高           株価
0           住石ホールディングス  1514          鉱業     517100   363.000000
1         中小企業ホールディングス  1757         建設業    3492800    52.000000
2                  シダー  2435       サービス業     662300   255.000000
3                  ＪＴＰ  2488       サービス業     245700  1031.000000
4              イメージ　ワン  2667         卸売業    1682900   902.000000
5              ビューティ花壇  3041         卸売業     493800  1412.000000
6        プレサンスコーポレーション  3254        不動産業     205300  2056.000000
7       クラウディアホールディングス  3607        繊維製品     976700   735.000000
8                ｅｎｉｓｈ  3667      情報・通信業    3769400   439.000000
9               ジェクシード  3719      情報・通信業     320600   238.000000
10                  パス  3840      情報・通信業     340900   121.000000
11    ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993      情報・通信業    1677200  3410.000000
12                細谷火工  4274          化学     388300  1736.000000
13                 オハラ  5218    ガラス・土石製品     214900  1562.000000
14               ヤマックス  5285    ガラス・土石製品     229300   691.000000
15        ダントーホールディングス  5337    ガラス・土石製品     337800   740.000000
16               不二サッシ  5940        金属製品     432600    84.000000
17                ヤマシナ  5955        金属製品    5190900    94.000000
18             ＡＩメカテック  6227          機械    1833900  2042.000000
19   ハーモニック・ドライブ・システムズ  6324          機械     450300  4685.000000
20                北川精機  6327          機械     831100   797.000000
21              エヌリンクス  6578       サービス業     399700   303.000000
22              ＴＢグループ  6775        電気機器    3913700   319.000000
23         伊豆シャボテンリゾート  6819       サービス業     200800   316.000000
24    アライドテレシスホールディングス  6835        電気機器     301400   112.000000
25     フェローテックホールディングス  6890        電気機器    1515900  3290.000000
26    ヘリオス　テクノ　ホールディング  6927        電気機器   14737500  1154.000000
27                 ＧＭＢ  7214       輸送用機器     692100  2179.000000
28               ニチリョク  7578         小売業     331800   178.000000
29                テイツー  7610         小売業    6437400   188.000000
30                  音通  7647         小売業  104260800    29.000000
31               アビックス  7836       その他製品     804900   105.000000
32              アルメディオ  7859       その他製品     600400   527.000000
33             ＳＢＩ新生銀行  8303         銀行業     425500  2807.000000
34                 アコム  8572      その他金融業    2457600   359.100006
35      トレイダーズホールディングス  8704  証券、商品先物取引業     222300   556.000000
36                ＲＩＳＥ  8836        不動産業     287300    22.000000
37          ＲＥＶＯＬＵＴＩＯＮ  8894        不動産業     425100    15.000000
38  アゴーラ　ホスピタリティー　グループ  9704       サービス業     259400    25.000000
39                北沢産業  9930         卸売業     277700   421.000000

In [20]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_standard = filtered_ticker(filtered_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_standard

                   銘柄名   コード          業種        出来高           株価
0           住石ホールディングス  1514          鉱業     517100   363.000000
1         中小企業ホールディングス  1757         建設業    3492800    52.000000
2                  ＪＴＰ  2488       サービス業     245700  1031.000000
3              イメージ　ワン  2667         卸売業    1682900   902.000000
4        プレサンスコーポレーション  3254        不動産業     205300  2056.000000
5       クラウディアホールディングス  3607        繊維製品     976700   735.000000
6                   パス  3840      情報・通信業     340900   121.000000
7     ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993      情報・通信業    1677200  3410.000000
8                 細谷火工  4274          化学     388300  1736.000000
9                  オハラ  5218    ガラス・土石製品     214900  1562.000000
10               ヤマックス  5285    ガラス・土石製品     229300   691.000000
11        ダントーホールディングス  5337    ガラス・土石製品     337800   740.000000
12               不二サッシ  5940        金属製品     432600    84.000000
13             ＡＩメカテック  6227          機械    1833900  2042.000000
14                北川精機  6327          機械     831100   797.000000
15              エヌリンクス  6578       サービス業     399700   303.000000
16         伊豆シャボテンリゾート  6819       サービス業     200800   316.000000
17    アライドテレシスホールディングス  6835        電気機器     301400   112.000000
18     フェローテックホールディングス  6890        電気機器    1515900  3290.000000
19    ヘリオス　テクノ　ホールディング  6927        電気機器   14737500  1154.000000
20                 ＧＭＢ  7214       輸送用機器     692100  2179.000000
21               ニチリョク  7578         小売業     331800   178.000000
22                テイツー  7610         小売業    6437400   188.000000
23                  音通  7647         小売業  104260800    29.000000
24              アルメディオ  7859       その他製品     600400   527.000000
25                 アコム  8572      その他金融業    2457600   359.100006
26      トレイダーズホールディングス  8704  証券、商品先物取引業     222300   556.000000
27                ＲＩＳＥ  8836        不動産業     287300    22.000000
28          ＲＥＶＯＬＵＴＩＯＮ  8894        不動産業     425100    15.000000
29  アゴーラ　ホスピタリティー　グループ  9704       サービス業     259400    25.000000

In [21]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_standard, '3_東証S_UPO')

In [22]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20, 60], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_standard

                   銘柄名   コード          業種       出来高      株価
0         ウエストホールディングス  1407         建設業    639200  2680.0
1          ＳＤＳホールディングス  1711         建設業    414600   307.0
2       アジアゲートホールディングス  1783         建設業   1546200    54.0
3                 クルーズ  2138      情報・通信業    695500   908.0
4                  クシム  2345      情報・通信業    482900   321.0
5                  出前館  2484      情報・通信業   1454600   397.0
6           ピクセルカンパニーズ  2743         卸売業    847300    46.0
7           新都ホールディングス  2776         卸売業    430700    83.0
8                  セリア  2782         小売業    309800  2293.0
9              メタプラネット  3350         卸売業    793700    22.0
10          ブロードバンドタワー  3776      情報・通信業    932900   148.0
11            サイバーステップ  3810      情報・通信業    437800   446.0
12           リミックスポイント  3825      情報・通信業   1875500   251.0
13             千代田化工建設  6366         建設業   1291600   364.0
14              ウインテスト  6721        電気機器    658100   121.0
15                ピクセラ  6731        電気機器   2944800     3.0
16         大黒屋ホールディングス  6993         小売業    726100    54.0
17                東京衡機  7719        精密機器    500400   182.0
18              テンアライド  8207         小売業    517900   283.0
19             プロルート丸光  8256         卸売業    729200    48.0
20               Ｊトラスト  8508      その他金融業    426100   424.0
21                第一商品  8746  証券、商品先物取引業    218300   105.0
22                 ＧＦＡ  8783      その他金融業    446600    82.0
23          ＲＥＶＯＬＵＴＩＯＮ  8894        不動産業    425100    15.0
24                 ランド  8918        不動産業  30557100     9.0
25      ビジョナリーホールディングス  9263         小売業    552800   121.0
26                 乾汽船  9308         海運業    202000  1323.0
27  ビート・ホールディングス・リミテッド  9399      情報・通信業   4671089     5.0

In [23]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_standard = filtered_ticker(filtered_reverse_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_standard

                   銘柄名   コード          業種       出来高      株価
0         ウエストホールディングス  1407         建設業    639200  2680.0
1                  クシム  2345      情報・通信業    482900   321.0
2              メタプラネット  3350         卸売業    793700    22.0
3             サイバーステップ  3810      情報・通信業    437800   446.0
4            リミックスポイント  3825      情報・通信業   1875500   251.0
5                 ピクセラ  6731        電気機器   2944800     3.0
6                 東京衡機  7719        精密機器    500400   182.0
7              プロルート丸光  8256         卸売業    729200    48.0
8                 第一商品  8746  証券、商品先物取引業    218300   105.0
9           ＲＥＶＯＬＵＴＩＯＮ  8894        不動産業    425100    15.0
10                 ランド  8918        不動産業  30557100     9.0
11  ビート・ホールディングス・リミテッド  9399      情報・通信業   4671089     5.0

In [24]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_standard, '4_東証S_DPO')

# 東証グロースをフィルタリングしてCSVとして保存

In [25]:
# 東証スタンダード市場の銘柄コードを取得
tse_grows = get_ticker_tse('grows')
tse_grows

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

                     銘柄名   コード     業種
55         ルーデン・ホールディングス  1400    建設業
56                エムビーエス  1401    建設業
65              Ｌｉｂ　Ｗｏｒｋ  1431    建設業
70                  フィット  1436    建設業
75                  ニッソウ  1444    建設業
...                  ...   ...    ...
4079              プログリット  9560  サービス業
4080            グラッドキューブ  9561  サービス業
4081             ビジネスコーチ  9562  サービス業
4082  Ａｔｌａｓ　Ｔｅｃｈｎｏｌｏｇｉｅｓ  9563  サービス業
4084       ウェルプレイド・ライゼスト  9565  サービス業

[530 rows x 3 columns]

In [26]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_tse_grows = filtered_ticker(tse_grows, min_volume=200000, max_price=5000)
filtered_tse_grows

'timestamp'
銘柄コード[21649]の株価情報を取得できなかったため、スキップしました。

                 銘柄名   コード      業種      出来高      株価
0              ケアネット  2150   サービス業   924600   977.0
1            ＦＲＯＮＴＥＯ  2158   サービス業  5174900   819.0
2         ジーエヌアイグループ  2160     医薬品  3739600  1622.0
3    ソフトフロントホールディングス  2321  情報・通信業   948800   128.0
4                イオレ  2334   サービス業   845700  2239.0
..               ...   ...     ...      ...     ...
125         ラストワンマイル  9252   サービス業   476000  4030.0
126         ＩＮＦＯＲＩＣＨ  9338   サービス業   200100  1876.0
127           ＧＥＮＯＶＡ  9341   サービス業   243100  2204.0
128           ｉｓｐａｃｅ  9348   サービス業  1718200  1691.0
129     リニューアブル・ジャパン  9522  電気・ガス業   966100   702.0

[130 rows x 5 columns]

In [27]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20, 60], 'period_type': 'W'})
filtered_perfect_order_week_tse_grows

                      銘柄名   コード      業種       出来高      株価
0         ソフトフロントホールディングス  2321  情報・通信業    948800   128.0
1                     イオレ  2334   サービス業    845700  2239.0
2               ジェイフロンティア  2934     食料品    575100  3575.0
3                      海帆  3133     小売業  14465700   748.0
4      ディジタルメディアプロフェッショナル  3652  情報・通信業    243700  3645.0
5              ＦＦＲＩセキュリティ  3692  情報・通信業    318600  1559.0
6             アドバンスト・メディア  3773  情報・通信業    405400  2035.0
7                データセクション  3905  情報・通信業   1068100   399.0
8                  Ａｉｍｉｎｇ  3911  情報・通信業   1422600   439.0
9            シェアリングテクノロジー  3989  情報・通信業   1058800   758.0
10                  フィーチャ  4052  情報・通信業    282500  1419.0
11                ティアンドエス  4055  情報・通信業    636700  2866.0
12       プラスアルファ・コンサルティング  4071  情報・通信業    206300  3520.0
13                   プレイド  4165  情報・通信業   1493400   850.0
14              ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業    418200  1403.0
15                   サスメド  4263  情報・通信業   1372600  1697.0
16                   セキュア  4264  情報・通信業    405300  3630.0
17                   ＪＤＳＣ  4418  情報・通信業    210300  1095.0
18       Ｆｉｎａｔｅｘｔホールディングス  4419  情報・通信業    731400   837.0
19                インフォネット  4444  情報・通信業    991200  2440.0
20               Ｃｈａｔｗｏｒｋ  4448  情報・通信業    542800  1161.0
21          カイオム・バイオサイエンス  4583     医薬品    635700   199.0
22      ストリームメディアコーポレーション  4772  情報・通信業    570700   290.0
23                レナサイエンス  4889     医薬品    579000   544.0
24                  リプロセル  4978      化学   1318400   304.0
25                 ブランジスタ  6176   サービス業    550500   748.0
26                  メタリアル  6182   サービス業    454800  2080.0
27               エヌ・ピー・シー  6255      機械    348800   561.0
28                  ＱＤレーザ  6613    電気機器   9268000   788.0
29                    ポート  7047   サービス業    885400  2425.0
30                    ピアズ  7066   サービス業    608500  2351.0
31       セレンディップ・ホールディングス  7318   輸送用機器    239600  1403.0
32                  ブシロード  7803   その他製品    971400   825.0
33          グローム・ホールディングス  8938    不動産業    593000  1329.0
34  Ｇｒｅｅｎ　Ｅａｒｔｈ　Ｉｎｓｔｉｔｕｔｅ  9212   サービス業    231900   777.0
35               ラストワンマイル  9252   サービス業    476000  4030.0

In [28]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_grows = filtered_ticker(filtered_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_grows

                  銘柄名   コード      業種       出来高      株価
0     ソフトフロントホールディングス  2321  情報・通信業    948800   128.0
1                 イオレ  2334   サービス業    845700  2239.0
2           ジェイフロンティア  2934     食料品    575100  3575.0
3                  海帆  3133     小売業  14465700   748.0
4          ＦＦＲＩセキュリティ  3692  情報・通信業    318600  1559.0
5         アドバンスト・メディア  3773  情報・通信業    405400  2035.0
6            データセクション  3905  情報・通信業   1068100   399.0
7        シェアリングテクノロジー  3989  情報・通信業   1058800   758.0
8               フィーチャ  4052  情報・通信業    282500  1419.0
9             ティアンドエス  4055  情報・通信業    636700  2866.0
10   プラスアルファ・コンサルティング  4071  情報・通信業    206300  3520.0
11               プレイド  4165  情報・通信業   1493400   850.0
12          ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業    418200  1403.0
13               セキュア  4264  情報・通信業    405300  3630.0
14   Ｆｉｎａｔｅｘｔホールディングス  4419  情報・通信業    731400   837.0
15            インフォネット  4444  情報・通信業    991200  2440.0
16           Ｃｈａｔｗｏｒｋ  4448  情報・通信業    542800  1161.0
17  ストリームメディアコーポレーション  4772  情報・通信業    570700   290.0
18              リプロセル  4978      化学   1318400   304.0
19             ブランジスタ  6176   サービス業    550500   748.0
20              メタリアル  6182   サービス業    454800  2080.0
21              ＱＤレーザ  6613    電気機器   9268000   788.0
22                ポート  7047   サービス業    885400  2425.0
23                ピアズ  7066   サービス業    608500  2351.0
24   セレンディップ・ホールディングス  7318   輸送用機器    239600  1403.0
25              ブシロード  7803   その他製品    971400   825.0
26      グローム・ホールディングス  8938    不動産業    593000  1329.0
27           ラストワンマイル  9252   サービス業    476000  4030.0

In [29]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_grows, '5_東証G_UPO')

In [30]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20, 60], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_grows

                銘柄名   コード      業種      出来高      株価
0             ケアネット  2150   サービス業   924600   977.0
1            メディネット  2370   サービス業  1213200    70.0
2          サンワカンパニー  3187     小売業   240200   650.0
3        ディー・ディー・エス  3782  情報・通信業   285400    49.0
4          グローバルウェイ  3936  情報・通信業   441600   223.0
5              ＵＵＵＭ  3990  情報・通信業   212900   722.0
6   Ｋａｉｚｅｎ　Ｐｌａｔｆｏｒｍ  4170  情報・通信業   420200   333.0
7              ココナラ  4176  情報・通信業   606200   376.0
8             アクリート  4395  情報・通信業   563700  1835.0
9    ミンカブ・ジ・インフォノイド  4436  情報・通信業   595100  1789.0
10             ＢＡＳＥ  4477  情報・通信業  2060500   273.0
11    オンコセラピー・サイエンス  4564     医薬品  2801400    42.0
12          シンバイオ製薬  4582     医薬品   918600   469.0
13            リボミック  4591     医薬品   272100   163.0
14            サンバイオ  4592     医薬品   292000   667.0
15             ヘリオス  4593     医薬品   750700   294.0
16     窪田製薬ホールディングス  4596     医薬品   410700   103.0
17       ソレイジア・ファーマ  4597     医薬品  1277200    49.0
18            セルソース  4880     医薬品   212700  2860.0
19             モダリス  4883     医薬品   398200   307.0
20              ＪＭＣ  5704    非鉄金属   807400   670.0
21             日本電解  5759    非鉄金属   587400  2055.0
22           トレンダーズ  6069   サービス業   331800  1164.0
23       アライドアーキテクツ  6081   サービス業   595200   450.0
24        ＩＮＣＬＵＳＩＶＥ  7078   サービス業   231800   979.0
25          ＮｅｘＴｏｎｅ  7094   サービス業   319800  2428.0
26    アイドマ・ホールディングス  7373   サービス業   872600  2840.0
27        サーキュレーション  7379   サービス業   252300   916.0
28   スリー・ディー・マトリックス  7777    精密機器   696900   196.0

In [31]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_grows = filtered_ticker(filtered_reverse_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_grows

          銘柄名   コード      業種     出来高    株価
0  ディー・ディー・エス  3782  情報・通信業  285400  49.0

In [32]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_grows, '6_東証G_DPO')

# 東証スタンダード・プライム選抜をCSVとして保存

In [33]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
filtered_tse_standard_2 = filtered_ticker(tse_standard, min_volume=500000, max_price=5000)
filtered_tse_standard_2

'timestamp'
銘柄コード[2777]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5104]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5999]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7961]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8521]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9318]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9734]の株価情報を取得できなかったため、スキップしました。

                      銘柄名   コード      業種        出来高           株価
0            ウエストホールディングス  1407     建設業     639200  2680.000000
1              住石ホールディングス  1514      鉱業     517100   363.000000
2            中小企業ホールディングス  1757     建設業    3492800    52.000000
3          アジアゲートホールディングス  1783     建設業    1546200    54.000000
4           燦キャピタルマネージメント  2134   サービス業   10073400    31.000000
5                    クルーズ  2138  情報・通信業     695500   908.000000
6            ｎｍｓ　ホールディングス  2162   サービス業     519300   423.000000
7           ＣＡＩＣＡ　ＤＩＧＩＴＡＬ  2315  情報・通信業    5890100    66.000000
8                     シダー  2435   サービス業     662300   255.000000
9    Ｓｈｉｎｗａ　Ｗｉｓｅ　Ｈｏｌｄｉｎｇｓ  2437   サービス業     645500   649.000000
10                    出前館  2484  情報・通信業    1454600   397.000000
11                イメージ　ワン  2667     卸売業    1682900   902.000000
12             ピクセルカンパニーズ  2743     卸売業     847300    46.000000
13  ＳＡＮＫＯ　ＭＡＲＫＥＴＩＮＧ　ＦＯＯＤＳ  2762     小売業    3297600   196.000000
14                    レカム  3323     卸売業    1912200    95.000000
15                メタプラネット  3350     卸売業     793700    22.000000
16         クラウディアホールディングス  3607    繊維製品     976700   735.000000
17                  ｅｎｉｓｈ  3667  情報・通信業    3769400   439.000000
18              ディー・エル・イー  3686  情報・通信業    1664100   341.000000
19               インタートレード  3747  情報・通信業     769200   477.000000
20             ブロードバンドタワー  3776  情報・通信業     932900   148.000000
21              リミックスポイント  3825  情報・通信業    1875500   251.000000
22       ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993  情報・通信業    1677200  3410.000000
23         セプテーニ・ホールディングス  4293   サービス業     882200   396.000000
24                   ヤマシナ  5955    金属製品    5190900    94.000000
25                ＡＩメカテック  6227      機械    1833900  2042.000000
26    ゲームカード・ジョイコホールディングス  6249      機械     534400  4035.000000
27                   北川精機  6327      機械     831100   797.000000
28                千代田化工建設  6366     建設業    1291600   364.000000
29          ＪＡＬＣＯホールディングス  6625    不動産業     858000   204.000000
30                 ウインテスト  6721    電気機器     658100   121.000000
31                   ピクセラ  6731    電気機器    2944800     3.000000
32                 ＴＢグループ  6775    電気機器    3913700   319.000000
33        フェローテックホールディングス  6890    電気機器    1515900  3290.000000
34       ヘリオス　テクノ　ホールディング  6927    電気機器   14737500  1154.000000
35            大黒屋ホールディングス  6993     小売業     726100    54.000000
36                  名村造船所  7014   輸送用機器    1963000   568.000000
37             住信ＳＢＩネット銀行  7163     銀行業    1620900  1666.000000
38                    ＧＭＢ  7214   輸送用機器     692100  2179.000000
39                   テイツー  7610     小売業    6437400   188.000000
40                     音通  7647     小売業  104260800    29.000000
41             アースインフィニティ  7692     小売業    6715700   202.000000
42                  クボテック  7709    精密機器    1019300   272.000000
43                   東京衡機  7719    精密機器     500400   182.000000
44                  アビックス  7836   その他製品     804900   105.000000
45                 アルメディオ  7859   その他製品     600400   527.000000
46                   三光産業  7922   その他製品     806100   575.000000
47                 テンアライド  8207     小売業     517900   283.000000
48                プロルート丸光  8256     卸売業     729200    48.000000
49                    アコム  8572  その他金融業    2457600   359.100006
50           フィンテック　グローバル  8789  その他金融業     703500    65.000000
51                    ランド  8918    不動産業   30557100     9.000000
52         ビジョナリーホールディングス  9263     小売業     552800   121.000000
53     ビート・ホールディングス・リミテッド  9399  情報・通信業    4671089     5.000000
54                   小僧寿し  9973     小売業   38186400    23.000000

In [34]:
# CSVファイル保存
save_df_as_csv(filtered_tse_standard_2, '7_東証S_選抜')

In [35]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
filtered_tse_standard_2 = filtered_ticker(tse_grows, min_volume=500000, max_price=5000)
filtered_tse_standard_2

'timestamp'
銘柄コード[21649]の株価情報を取得できなかったため、スキップしました。

                銘柄名   コード      業種      出来高      株価
0             ケアネット  2150   サービス業   924600   977.0
1           ＦＲＯＮＴＥＯ  2158   サービス業  5174900   819.0
2        ジーエヌアイグループ  2160     医薬品  3739600  1622.0
3   ソフトフロントホールディングス  2321  情報・通信業   948800   128.0
4               イオレ  2334   サービス業   845700  2239.0
..              ...   ...     ...      ...     ...
68           スカイマーク  9204     空運業  1111600  1262.0
69          マイクロ波化学  9227   サービス業  2261800  1861.0
70           サンウェルズ  9229   サービス業   511500  3625.0
71           ｉｓｐａｃｅ  9348   サービス業  1718200  1691.0
72     リニューアブル・ジャパン  9522  電気・ガス業   966100   702.0

[73 rows x 5 columns]

In [36]:
# CSVファイル保存
save_df_as_csv(filtered_tse_standard_2, '8_東証G_選抜')