<a href="https://colab.research.google.com/github/hirokimituya/stock-price-analysis/blob/main/technical_analysis/%E9%8A%98%E6%9F%84%E9%81%B8%E5%AE%9A%E9%96%A2%E6%95%B0_csv%E4%BF%9D%E5%AD%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Google Colaboratoryに画像を保存できるように設定
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/株式投資')

Mounted at /content/drive

In [2]:
# Ta-Libの代替としてpandas_taを利用している。Ta-Libの関数名を小文字にしたものがあるイメージ
!pip install pandas_ta

Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 9.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=0e3d72fe0381b83b1be729824e4eb7b13fa9d1bdd9967f55cccdd1cf143338c2
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [3]:
!pip install yahoo_finance_api2

Collecting yahoo_finance_api2
  Downloading yahoo_finance_api2-0.0.12.tar.gz (3.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (3.4)
Building wheels for collected packages: yahoo_finance_api2
  Building wheel for yahoo_finance_api2 (setup.py) ... done
  Created wheel for yahoo_finance_api2: filename=yahoo_finance_api2-0.0.12-py3-none-any.whl size=3714 sha256=9c5a5ed0c312f60e3e17c26a8ec0543038dd6f3682ff0360fafcb9e3803aa33b
  Stored in directory: /root/.cache/pip/wheels/e2/40/e3/f3d8054a41d7d85065555037525f48f56119cafbc5fcddf427
Successfully built yahoo_finance_api2
Installing collected packages: yahoo_finance_api2
Successfully installed yahoo_finance_api2-0.0.12

# 銘柄コードから株価情報を取得する関数

In [4]:
from yahoo_finance_api2 import share as yapi2
from yahoo_finance_api2.exceptions import YahooFinanceError
import datetime as dt
from datetime import date,timedelta
import pandas as pd

# 株価データを取得するメソッド
def get_stock_data_yapi2(code, period_type='year', period=10):
    """株価データを取得する

    :param code: 取得する株価データの銘柄コード
    :param period_type: 取得する株価データの期間の単位（例: 'year', 'month', 'week', 'day'）
    :param period: 取得する株価データの期間の数値
    :return: 株価データのデータフレーム（もし株価データが存在しない場合は、None）
    """
    if period_type == 'month':
        period_type_value = yapi2.PERIOD_TYPE_MONTH
    elif period_type == 'week':
        period_type_value = yapi2.PERIOD_TYPE_WEEK
    elif period_type == 'day':
        period_type_value = yapi2.PERIOD_TYPE_DAY
    else:
        period_type_value = yapi2.PERIOD_TYPE_YEAR

    try:
        data = yapi2.Share(f'{code}.T').get_historical(
            period_type_value,
            period,
            yapi2.FREQUENCY_TYPE_DAY,
            1
        )
    except YahooFinanceError as e:
        print(e.message)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    df = pd.DataFrame(data)

    try:
        # タイムスタンプをDateTime型に変更
        df['datetime'] = pd.to_datetime(df['timestamp'], unit='ms')
    except KeyError as e:
        print(e)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    # 日本時間へ変換
    df['Date'] = df['datetime'] + dt.timedelta(hours=9)

    # インデックスをDateカラムに設定
    df.index = pd.to_datetime(df['Date'].dt.date)

    # 不要なカラムを削除
    del df['Date'], df['datetime'], df['timestamp']

    # 各カラムの最初の文字を大文字に変換
    for col in df.columns:
        df[f'{col.capitalize()}'] = df[col]
        del df[col]

    return df

# 東証上場の銘柄一覧を取得する関数（ダウンロードはしない）

In [5]:
from pandas.io.formats.info import DataFrameTableBuilderNonVerbose
import requests
import pandas as pd

def get_ticker_tse(segment='prime'):
    """東証上場の銘柄コード一覧を取得する

    :param segment: 東証上場の市場区分（例: 'prime' or 'standard' or 'grows'）
    :return: 東証上場の銘柄コード一覧
    """
    segments = {
        'prime': 'プライム',
        'standard': 'スタンダード',
        'grows': 'グロース'
    }

    if segment not in segments:
        raise Exception("get_ticker_tse関数のsegment引数の値は'prime', 'standard', 'grows'のいずれかにしてください")

    # サイトからダウンロードしないようにコメントアウト
    #url = "https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls"
    #r = requests.get(url)
    #with open('data_j.xls', 'wb') as output:
    #    output.write(r.content)

    df = pd.read_excel("./data/data_j.xls")

    # 引数の市場区分のみに絞り込み
    df = df[df['市場・商品区分'].str.startswith(segments[segment])]

    # カラムの削除とカラム名変更
    df = df[['銘柄名', 'コード', '33業種区分']]   # 必要なカラムのみにする
    df = df.rename(columns={'33業種区分': '業種'})
    df['コード'] = df['コード'].astype(int) # コードを整数に変更

    return df

# 株価情報を出来高や株価、パーフェクトオーダーでフィルタリングする関数

In [6]:
import pandas_ta as ta
import math

def is_perfect_order(stock_df, mas, period_type='D', reverse=False):
    """株価情報がパーフェクトオーダーどうかの判定

    :param stock_df: 対象の株価情報のデータフレーム
    :param mas: 移動平均線に使用するためのリスト（例: [5, 25, 75]）
    :param period_type: 期間をどの単位にするか（'W' or 'M'）
    :param reverse: 下降トレンドのパーフェクトオーダーを検出する場合は、True / 上昇トレンドの場合は、False
    :return: 株価情報がパーフェクトオーダーの場合は、True / それ以外の場合は、False
    """

    df = stock_df.copy()

    # 月足、周足にリサンプリング
    if period_type in ('M', 'W'):
        resampled = df.resample(period_type)
        df = resampled.aggregate({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'})

    close = df['Close']

    # 移動平均線の算出
    for ma in mas:
        df[f'ma{ma}{period_type}'] = ta.sma(close, ma)

    # パーフェクトオーダーかどうかの判定
    conditions = []
    try:
        if not reverse:
            # 上昇トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) >= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
        else:
            # 下降トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) <= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
    except:
        # 株価情報が少なくて移動平均線が取得できない場合は、無条件でFalseでリターンする
        return False


    result = all(conditions)

    return result

In [7]:
def filtered_ticker(df, min_volume=None, max_price=None, min_price=None, perfect_order={}):
    """データフレームの銘柄コードから株価情報を取得して、指定された出来高や株価でフィルタリングする

    :param df: 対象のデータフレーム
    :param min_volume: 出来高の最小値を指定
    :param max_price: 株価の最大値を指定
    :param min_price: 株価の最小値を指定
    :param perfect_order: パーフェクトオーダーの判定に使用する辞書（例: {'mas': [5, 20, 60], 'period_type': 'D', 'reverse': False}）（辞書のキー'mas'のみ必須）
    :return: 出来高や株価でフィルタリングしたデータフレーム
    """
    result_list = []

    # データフレームを辞書のリストに変更
    df_to_dicts = df.to_dict(orient='records')

    # 各銘柄についてループ
    for row in df_to_dicts:
        # コードを取得
        code = row['コード']

        # 株価情報を取得
        if not perfect_order:
            stock_data = get_stock_data_yapi2(code, period_type='day', period=2)
        else:
            largest_mas = perfect_order.get('mas')[-1]
            period_type = perfect_order.get('period_type', 'D')
            if period_type == 'D':
                period = math.ceil(largest_mas / 15)
                stock_data = get_stock_data_yapi2(code, period_type='month', period=period)
            elif period_type == 'W':
                period = math.ceil(largest_mas * 7 / 365)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            elif period_type == 'M':
                period = math.ceil(largest_mas / 10)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            else:
                raise ValueError('引数perfect_orderは"D"か"W"か"M"のいずれかを指定してください')
        # 株価情報が取得できなかったら、次の銘柄コードに遷移
        if stock_data is None:
            continue

        # 出来高の条件に合わない場合、次の銘柄コードに遷移
        volume = stock_data['Volume'][-1]
        if min_volume is not None and volume < min_volume:
            continue

        # 価格の条件に合わない場合、次の銘柄コードに遷移
        price = stock_data['Close'][-1]
        if max_price is not None and price > max_price:
            continue
        if min_price is not None and price < min_price:
            continue

        # パーフェクトオーダーの条件に合わない場合、次の銘柄コードに遷移
        if perfect_order:
            mas = perfect_order.get('mas')
            period_type = perfect_order.get('period_type', 'D')
            reverse = perfect_order.get('reverse', False)
            if not is_perfect_order(stock_data, mas=mas, period_type=period_type, reverse=reverse):
                continue

        # 銘柄名と業種を設定
        result_list.append({
            '銘柄名': row['銘柄名'],
            'コード': code,
            '業種': row['業種'],
            '出来高': volume,
            '株価': price,
        })

    # 辞書のリストをデータフレームに変換
    result_df = pd.DataFrame.from_dict(result_list)

    return result_df

# CSVに保存する関数

In [8]:
import datetime as dt
import os
import pytz

jst = pytz.timezone('Asia/Tokyo')
now = dt.datetime.now(jst)
now = now.strftime("%Y%m%d_%H%M%S")
# ディレクトリ名作成（YYYYMMDD_HHMMSS_screening）
directory = f'{now}_screening'

def save_df_as_csv(df, filename):
    """データフレームをCSVファイルとして保存する

    :param df: 対象のデータフレーム
    :param filename: 保存するcsvファイル名
    """
    # もしディレクトリが存在しなければ、作成する
    if not os.path.exists(directory):
        os.makedirs(directory)

    # データフレームをCSVに保存する
    df.to_csv(f'{directory}/{filename}.csv', index=False)

# 東証プライムをフィルタリングしてCSVとして保存

In [9]:
# 東証プライム市場の銘柄コードを取得
tse_prime = get_ticker_tse('prime')
tse_prime

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

                  銘柄名   コード      業種
0                  極洋  1301  水産・農林業
16               ニッスイ  1332  水産・農林業
17             マルハニチロ  1333  水産・農林業
33             雪国まいたけ  1375  水産・農林業
35             サカタのタネ  1377  水産・農林業
...               ...   ...     ...
4262           サンドラッグ  9989     小売業
4263  サックスバー　ホールディングス  9990     小売業
4264             ジェコス  9991     卸売業
4267            グローセル  9995     卸売業
4269             ベルーナ  9997     小売業

[1836 rows x 3 columns]

In [10]:
# 東証プライムの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
import time
start_time = time.time()
filtered_tse_prime = filtered_ticker(tse_prime, min_volume=500000, max_price=5000)
print(f'経過時間: {time.time() - start_time}秒')
filtered_tse_prime

'timestamp'
銘柄コード[1954]の株価情報を取得できなかったため、スキップしました。
Not Found: No data found, symbol may be delisted
銘柄コード[25935]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5128]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6924]の株価情報を取得できなかったため、スキップしました。
Not Found: No data found, symbol may be delisted
銘柄コード[8096]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9810]の株価情報を取得できなかったため、スキップしました。
経過時間: 191.41738605499268秒

              銘柄名   コード      業種      出来高           株価
0            ニッスイ  1332  水産・農林業  1825600   669.200012
1           タマホーム  1419     建設業   500300  3610.000000
2           ＩＮＰＥＸ  1605      鉱業  7807400  1680.500000
3            安藤・間  1719     建設業   825500  1042.000000
4    コムシスホールディングス  1721     建設業   728700  2737.500000
..            ...   ...     ...      ...          ...
324         乃村工藝社  9716   サービス業   968900   924.000000
325          ＳＣＳＫ  9719  情報・通信業   507800  2233.000000
326   ヤマダホールディングス  9831     小売業  2863900   427.200012
327           モリト  9837     卸売業   523500  1089.000000
328     ミスミグループ本社  9962     卸売業   886000  2738.500000

[329 rows x 5 columns]

In [11]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20], 'period_type': 'W'})
filtered_perfect_order_week_tse_prime

              銘柄名   コード      業種      出来高           株価
0            ニッスイ  1332  水産・農林業  1825600   669.200012
1           ＩＮＰＥＸ  1605      鉱業  7807400  1680.500000
2            安藤・間  1719     建設業   825500  1042.000000
3    コムシスホールディングス  1721     建設業   728700  2737.500000
4             大林組  1802     建設業  2590400  1232.000000
..            ...   ...     ...      ...          ...
235     エイチ・アイ・エス  9603   サービス業   811700  2022.000000
236  エヌ・ティ・ティ・データ  9613  情報・通信業  3694400  1940.000000
237         乃村工藝社  9716   サービス業   968900   924.000000
238          ＳＣＳＫ  9719  情報・通信業   507800  2233.000000
239           モリト  9837     卸売業   523500  1089.000000

[240 rows x 5 columns]

In [12]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_prime = filtered_ticker(filtered_perfect_order_week_tse_prime,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_prime

            銘柄名   コード      業種       出来高           株価
0          ニッスイ  1332  水産・農林業   1825600   669.200012
1         ＩＮＰＥＸ  1605      鉱業   7807400  1680.500000
2           大林組  1802     建設業   2590400  1232.000000
3   長谷工コーポレーション  1808     建設業    839800  1779.000000
4        ＬＩＦＵＬＬ  2120   サービス業    968200   300.000000
..          ...   ...     ...       ...          ...
77         商船三井  9104     海運業   5148400  3576.000000
78         川崎汽船  9107     海運業  15441400  3960.000000
79   ＳＧホールディングス  9143     陸運業   1061200  2110.500000
80       ソフトバンク  9434  情報・通信業   5805500  1538.000000
81          モリト  9837     卸売業    523500  1089.000000

[82 rows x 5 columns]

In [13]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_prime, '1_東証P_UPO')

In [14]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_prime

             銘柄名   コード      業種      出来高           株価
0          タマホーム  1419     建設業   500300  3610.000000
1         三井住友建設  1821     建設業   654800   368.000000
2   パーソルホールディングス  2181   サービス業   607900  2678.000000
3     明治ホールディングス  2269     食料品   894600  3315.000000
4        日本駐車場開発  2353    不動産業  3444600   213.000000
..           ...   ...     ...      ...          ...
84          電源開発  9513  電気・ガス業   702900  2131.500000
85           レノバ  9519  電気・ガス業   792800  1508.000000
86          大阪瓦斯  9532  電気・ガス業  1444700  2134.000000
87   ヤマダホールディングス  9831     小売業  2863900   427.200012
88     ミスミグループ本社  9962     卸売業   886000  2738.500000

[89 rows x 5 columns]

In [15]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_prime = filtered_ticker(filtered_reverse_perfect_order_week_tse_prime, perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_prime

                      銘柄名   コード        業種       出来高           株価
0                  三井住友建設  1821       建設業    654800   368.000000
1                 日本駐車場開発  2353      不動産業   3444600   213.000000
2               ベネフィット・ワン  2412     サービス業    580000  1416.000000
3                   エムスリー  2413     サービス業   3571800  3227.000000
4           博報堂ＤＹホールディングス  2433     サービス業    803500  1526.000000
5            北の達人コーポレーション  2930        化学   1403600   282.000000
6             ペッパーフードサービス  3053       小売業    689800   122.000000
7                ＭｏｎｏｔａＲＯ  3064       小売業    924900  1764.000000
8                    ＺＯＺＯ  3092       小売業   1085500  2853.000000
9   クリエイト・レストランツ・ホールディングス  3387       小売業    840400   991.000000
10  ＦＯＯＤ　＆　ＬＩＦＥ　ＣＯＭＰＡＮＩＥＳ  3563       小売業    885200  2639.000000
11                   ＫＬａｂ  3656    情報・通信業    811800   337.000000
12                   ネクソン  3659    情報・通信業   2594100  2786.000000
13         メディカル・データ・ビジョン  3902    情報・通信業    540800   688.000000
14                   住友化学  4005        化学   5663200   430.000000
15                  協和キリン  4151       医薬品   1570800  2652.000000
16                ソースネクスト  4344    情報・通信業    665300   189.000000
17                 Ｓａｎｓａｎ  4443    情報・通信業   6250100  1600.000000
18                 小野薬品工業  4528       医薬品   1589400  2536.500000
19               そーせいグループ  4565       医薬品   1773900  1420.000000
20                   第一三共  4568       医薬品   5083300  3930.000000
21         日本ペイントホールディングス  4612        化学   2999000  1167.000000
22                  パーク２４  4666      不動産業   2127500  1766.500000
23                  リソー教育  4714     サービス業    521700   258.000000
24             サイバーエージェント  4751     サービス業   4654700  1079.000000
25                  サイボウズ  4776    情報・通信業    544100  2258.000000
26                   ライオン  4912        化学    997700  1335.000000
27                 日本電気硝子  5214  ガラス・土石製品    643700  2510.500000
28                   ＴＯＴＯ  5332  ガラス・土石製品    583200  4222.000000
29                   日本碍子  5333  ガラス・土石製品   1444700  1692.500000
30         大阪チタニウムテクノロジーズ  5726      非鉄金属    626100  2877.000000
31                  ＬＩＸＩＬ  5938      金属製品   1281800  1846.000000
32         テクノプロ・ホールディングス  6028     サービス業    591400  3277.000000
33                   日本郵政  6178     サービス業  10219900  1024.000000
34                  ナブテスコ  6268        機械    578500  3035.000000
35                    ＮＴＮ  6472        機械   5165300   294.700012
36             ジャパンディスプレイ  6740      電気機器   5633600    38.000000
37                   シャープ  6753      電気機器   2426800   802.000000
38                 カシオ計算機  6952      電気機器   1370400  1184.000000
39                   太陽誘電  6976      電気機器   1659600  4244.000000
40                    マニー  7730      精密機器   1290200  1750.500000
41                  オリンパス  7733      精密機器   5659100  2230.000000
42                   ピジョン  7956     その他製品    635700  1932.500000
43                   アイフル  8515    その他金融業   1572000   328.000000
44                     東急  9005       陸運業   1347500  1687.500000
45                   京王電鉄  9008       陸運業    515900  4333.000000
46                   日本通信  9424    情報・通信業   1757100   241.000000
47                    レノバ  9519    電気・ガス業    792800  1508.000000
48                   大阪瓦斯  9532    電気・ガス業   1444700  2134.000000
49              ミスミグループ本社  9962       卸売業    886000  2738.500000

In [16]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_prime, '4_東証P_DPO')

# 東証スタンダードをフィルタリングしてCSVとして保存

In [17]:
# 東証スタンダード市場の銘柄コードを取得
tse_standard = get_ticker_tse('standard')
tse_standard

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

         銘柄名   コード      業種
34     カネコ種苗  1376  水産・農林業
37      秋川牧園  1380  水産・農林業
38     アクシーズ  1381  水産・農林業
39       ホーブ  1382  水産・農林業
40    ベルグアース  1383  水産・農林業
...      ...   ...     ...
4257   タキヒヨー  9982     卸売業
4260    蔵王産業  9986     卸売業
4265    ヤマザワ  9993     小売業
4266     やまや  9994     小売業
4268   サトー商会  9996     卸売業

[1447 rows x 3 columns]

In [18]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_tse_standard = filtered_ticker(tse_standard, min_volume=200000, max_price=5000)
filtered_tse_standard

'timestamp'
銘柄コード[1764]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[1793]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[1981]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[2754]の株価情報を取得できなかったため、スキップしました。
Not Found: No data found, symbol may be delisted
銘柄コード[2777]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3184]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3352]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3437]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3583]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3634]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3847]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3944]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[4341]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[4645]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5104]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5279]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5395]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5458]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5695]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5918]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5966]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5999]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6144]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6248]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6346]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6599]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6647]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6977]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7399]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7464]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7500]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7515]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7681]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7946]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7957]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7961]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7983]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8030]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8045]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8072]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8138]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8152]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8521]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8854]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9017]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9049]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9073]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9311]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9313]の株価情報を取得できなかったため、スキップしました。
Not Found: No data found, symbol may be delisted
銘柄コード[9318]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9361]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9734]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9780]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9849]の株価情報を取得できなかったため、スキップしました。

                   銘柄名   コード      業種      出来高      株価
0         ウエストホールディングス  1407     建設業  2726500  2906.0
1      インターライフホールディングス  1418     建設業   853900   216.0
2                 中外鉱業  1491    非鉄金属   753800    30.0
3           住石ホールディングス  1514      鉱業   568900   349.0
4         中小企業ホールディングス  1757     建設業   832800    39.0
..                 ...   ...     ...      ...     ...
89         昭文社ホールディングス  9475  情報・通信業   247200   304.0
90  アゴーラ　ホスピタリティー　グループ  9704   サービス業  1367600    25.0
91                コックス  9876     小売業   218700   164.0
92                小僧寿し  9973     小売業   297600    20.0
93     文教堂グループホールディングス  9978     小売業   324900    40.0

[94 rows x 5 columns]

In [19]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20], 'period_type': 'W'})
filtered_perfect_order_week_tse_standard

                   銘柄名   コード          業種      出来高          株価
0      インターライフホールディングス  1418         建設業   853900  216.000000
1           住石ホールディングス  1514          鉱業   568900  349.000000
2         中小企業ホールディングス  1757         建設業   832800   39.000000
3        燦キャピタルマネージメント  2134       サービス業  1015200   22.000000
4        ＣＡＩＣＡ　ＤＩＧＩＴＡＬ  2315      情報・通信業  1121800   58.000000
..                 ...   ...         ...      ...         ...
62                 アコム  8572      その他金融業  1750300  341.799988
63      トレイダーズホールディングス  8704  証券、商品先物取引業   648900  626.000000
64         昭文社ホールディングス  9475      情報・通信業   247200  304.000000
65  アゴーラ　ホスピタリティー　グループ  9704       サービス業  1367600   25.000000
66                小僧寿し  9973         小売業   297600   20.000000

[67 rows x 5 columns]

In [20]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_standard = filtered_ticker(filtered_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_standard

                    銘柄名   コード          業種       出来高      株価
0                  ベクター  2656         小売業    200000   356.0
1        シー・ヴイ・エス・ベイエリア  2687         小売業   2657000   798.0
2            ピクセルカンパニーズ  2743         卸売業   1736700    53.0
3           コメ兵ホールディングス  2780         小売業    335100  4475.0
4          アクサスホールディングス  3536         小売業    240300   139.0
5        クラウディアホールディングス  3607        繊維製品    520000   788.0
6            ブロードバンドタワー  3776      情報・通信業    522600   151.0
7        セプテーニ・ホールディングス  4293       サービス業    354000   418.0
8                 Ｓｐｅｅｅ  4499      情報・通信業    354400  2726.0
9              環境管理センター  4657       サービス業    246600   527.0
10              アイビー化粧品  4918          化学   1549400   642.0
11            日本色材工業研究所  4920          化学    267500  2273.0
12                不二サッシ  5940        金属製品    203900    85.0
13                 アマテイ  5952        金属製品  12538900   150.0
14  ゲームカード・ジョイコホールディングス  6249          機械    519500  4320.0
15                 ピクセラ  6731        電気機器   3942000     3.0
16     アライドテレシスホールディングス  6835        電気機器    644800   129.0
17                八千代工業  7298       輸送用機器    538600  1383.0
18           エコートレーディング  7427         卸売業    823800  1093.0
19             エスケイジャパン  7608         卸売業    458900   647.0
20                 テイツー  7610         小売業   4105200   203.0
21                クボテック  7709        精密機器    644800   370.0
22             ＫＹＯＲＩＴＳＵ  7795       その他製品   1407400   184.0
23                タカキュー  8166         小売業    381100    89.0
24                Ｊトラスト  8508      その他金融業    386100   447.0
25       トレイダーズホールディングス  8704  証券、商品先物取引業    648900   626.0
26          昭文社ホールディングス  9475      情報・通信業    247200   304.0
27   アゴーラ　ホスピタリティー　グループ  9704       サービス業   1367600    25.0
28                 小僧寿し  9973         小売業    297600    20.0

In [21]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_standard, '2_東証S_UPO')

In [22]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_standard

                   銘柄名   コード          業種       出来高      株価
0         ウエストホールディングス  1407         建設業   2726500  2906.0
1                 中外鉱業  1491        非鉄金属    753800    30.0
2       アジアゲートホールディングス  1783         建設業    426900    53.0
3                  クシム  2345      情報・通信業    449100   323.0
4                  セリア  2782         小売業    295400  2389.0
5                 石垣食品  2901         食料品    417500   162.0
6                ｅｎｉｓｈ  3667      情報・通信業    631800   333.0
7            リミックスポイント  3825      情報・通信業    481200   225.0
8             エス・サイエンス  5721        非鉄金属    448100    24.0
9          ＥＲＩホールディングス  6083       サービス業    468300  1736.0
10              高松機械工業  6155          機械    252600   559.0
11             千代田化工建設  6366         建設業    489500   349.0
12    ユニバーサルエンターテインメント  6425          機械    838700  2632.0
13            ＧａｍｅＷｉｔｈ  6552       サービス業    398800   330.0
14       ＪＡＬＣＯホールディングス  6625        不動産業    395400   196.0
15                ピクセラ  6731        電気機器   3942000     3.0
16         大黒屋ホールディングス  6993         小売業    495000    58.0
17               ワークマン  7564         小売業    209400  4930.0
18          アースインフィニティ  7692         小売業   2713600   192.0
19       ラオックスホールディングス  8202         小売業    337400   244.0
20                第一商品  8746  証券、商品先物取引業    210400   104.0
21                 ＧＦＡ  8783      その他金融業    271500    81.0
22        フィンテック　グローバル  8789      その他金融業   6055400    64.0
23                 ランド  8918        不動産業  28012700     9.0
24                  大運  9363    倉庫・運輸関連業   1166900   432.0
25  ビート・ホールディングス・リミテッド  9399      情報・通信業    763628     5.0
26                コックス  9876         小売業    218700   164.0
27     文教堂グループホールディングス  9978         小売業    324900    40.0

In [23]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_standard = filtered_ticker(filtered_reverse_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_standard

                   銘柄名   コード          業種      出来高      株価
0                 中外鉱業  1491        非鉄金属   753800    30.0
1       アジアゲートホールディングス  1783         建設業   426900    53.0
2                  クシム  2345      情報・通信業   449100   323.0
3                 石垣食品  2901         食料品   417500   162.0
4                ｅｎｉｓｈ  3667      情報・通信業   631800   333.0
5            リミックスポイント  3825      情報・通信業   481200   225.0
6             エス・サイエンス  5721        非鉄金属   448100    24.0
7               高松機械工業  6155          機械   252600   559.0
8              千代田化工建設  6366         建設業   489500   349.0
9             ＧａｍｅＷｉｔｈ  6552       サービス業   398800   330.0
10       ＪＡＬＣＯホールディングス  6625        不動産業   395400   196.0
11                ピクセラ  6731        電気機器  3942000     3.0
12               ワークマン  7564         小売業   209400  4930.0
13          アースインフィニティ  7692         小売業  2713600   192.0
14                第一商品  8746  証券、商品先物取引業   210400   104.0
15        フィンテック　グローバル  8789      その他金融業  6055400    64.0
16  ビート・ホールディングス・リミテッド  9399      情報・通信業   763628     5.0
17     文教堂グループホールディングス  9978         小売業   324900    40.0

In [24]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_standard, '5_東証S_DPO')

# 東証グロースをフィルタリングしてCSVとして保存

In [25]:
# 東証スタンダード市場の銘柄コードを取得
tse_grows = get_ticker_tse('grows')
tse_grows

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

                     銘柄名   コード     業種
55         ルーデン・ホールディングス  1400    建設業
56                エムビーエス  1401    建設業
65              Ｌｉｂ　Ｗｏｒｋ  1431    建設業
70                  フィット  1436    建設業
75                  ニッソウ  1444    建設業
...                  ...   ...    ...
4079              プログリット  9560  サービス業
4080            グラッドキューブ  9561  サービス業
4081             ビジネスコーチ  9562  サービス業
4082  Ａｔｌａｓ　Ｔｅｃｈｎｏｌｏｇｉｅｓ  9563  サービス業
4084       ウェルプレイド・ライゼスト  9565  サービス業

[530 rows x 3 columns]

In [26]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 5000円以下
filtered_tse_grows = filtered_ticker(tse_grows, min_volume=200000, max_price=5000)
filtered_tse_grows

'timestamp'
銘柄コード[21649]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3986]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[4450]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6067]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6172]の株価情報を取得できなかったため、スキップしました。

               銘柄名   コード        業種      出来高      株価
0            ケアネット  2150     サービス業   228200   919.0
1          ＦＲＯＮＴＥＯ  2158     サービス業   585000   745.0
2       ジーエヌアイグループ  2160       医薬品   827700  1207.0
3           メディネット  2370     サービス業   288700    65.0
4     ウェッジホールディングス  2388    その他金融業  8651200   155.0
..             ...   ...       ...      ...     ...
99              関通  9326  倉庫・運輸関連業   216500   531.0
100         ｉｓｐａｃｅ  9348     サービス業   258800  1471.0
101   リニューアブル・ジャパン  9522    電気・ガス業  1806300   863.0
102  Ｍ＆Ａ総研ホールディングス  9552     サービス業  1456400  3975.0
103         プログリット  9560     サービス業  3906600  1060.0

[104 rows x 5 columns]

In [27]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20], 'period_type': 'W'})
filtered_perfect_order_week_tse_grows

                  銘柄名   コード          業種      出来高      株価
0             ＦＲＯＮＴＥＯ  2158       サービス業   585000   745.0
1          ジーエヌアイグループ  2160         医薬品   827700  1207.0
2            フルッタフルッタ  2586         食料品  1730800    79.0
3              ベースフード  2936         食料品   408800   463.0
4                  海帆  3133         小売業  2402100   560.0
5             ティーケーピー  3479        不動産業  1214600  2876.0
6     ＧＡ　ｔｅｃｈｎｏｌｏｇｉｅｓ  3491        不動産業   329900  1309.0
7            霞ヶ関キャピタル  3498        不動産業   261400  4740.0
8        リネットジャパングループ  3556         小売業   227200   598.0
9                ロコンド  3558         小売業   311900  1629.0
10     モブキャストホールディングス  3664      情報・通信業   750600    91.0
11          ソーシャルワイヤー  3929      情報・通信業   382500   399.0
12       シェアリングテクノロジー  3989      情報・通信業   474200   640.0
13               ＵＵＵＭ  3990      情報・通信業   350200   695.0
14           ウォンテッドリー  3991      情報・通信業   328900  1882.0
15                アララ  4015      情報・通信業   295500   489.0
16            ティアンドエス  4055      情報・通信業   518600  2825.0
17   プラスアルファ・コンサルティング  4071      情報・通信業   284200  3015.0
18               プレイド  4165      情報・通信業  1207100   869.0
19          ＥＮＥＣＨＡＮＧＥ  4169      情報・通信業   318300  1330.0
20              ＷＡＣＵＬ  4173      情報・通信業  1031200   930.0
21           エクサウィザーズ  4259      情報・通信業  1373500   496.0
22           チームスピリット  4397      情報・通信業   418000   488.0
23   Ｆｉｎａｔｅｘｔホールディングス  4419      情報・通信業   217300   823.0
24           Ｃｈａｔｗｏｒｋ  4448      情報・通信業   284300  1068.0
25             ＨＥＮＮＧＥ  4475      情報・通信業   631800   929.0
26          スペースマーケット  4487      情報・通信業  2612900   463.0
27            免疫生物研究所  4570         医薬品  3512100   585.0
28        カルナバイオサイエンス  4572         医薬品  3127700   901.0
29            シンバイオ製薬  4582         医薬品   229700   425.0
30       オンコリスバイオファーマ  4588         医薬品   311500   536.0
31         ソレイジア・ファーマ  4597         医薬品  1035100    46.0
32  ストリームメディアコーポレーション  4772      情報・通信業  1203500   328.0
33              リプロセル  4978          化学   472200   284.0
34              ＦＩＸＥＲ  5129      情報・通信業   295600  1864.0
35           スマートドライブ  5137      情報・通信業   292800  2827.0
36            テクノロジーズ  5248      情報・通信業   253700  2345.0
37               イトクロ  6049       サービス業   295600   342.0
38             ブランジスタ  6176       サービス業   281100   727.0
39              メタリアル  6182       サービス業   240300  1885.0
40              オキサイド  6521        電気機器   507900  3810.0
41              ＱＤレーザ  6613        電気機器  8641100   868.0
42                ポート  7047       サービス業   291800  2332.0
43               ベルトラ  7048       サービス業   542800   761.0
44       フィードフォースグループ  7068       サービス業   321600   990.0
45             ウェルスナビ  7342  証券、商品先物取引業   604300  1366.0
46            ＦＰパートナー  7388         保険業   407700  4100.0
47          ＣＹＢＥＲＤＹＮＥ  7779        精密機器   480500   302.0
48   サマンサタバサジャパンリミテッド  7829       その他製品  1506300   157.0
49             スカイマーク  9204         空運業   486400  1193.0
50            マイクロ波化学  9227       サービス業   461700  1835.0
51             デジタリフト  9244       サービス業   441600  1091.0
52                 関通  9326    倉庫・運輸関連業   216500   531.0
53       リニューアブル・ジャパン  9522      電気・ガス業  1806300   863.0
54      Ｍ＆Ａ総研ホールディングス  9552       サービス業  1456400  3975.0
55             プログリット  9560       サービス業  3906600  1060.0

In [28]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_grows = filtered_ticker(filtered_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_grows

                  銘柄名   コード      業種      出来高      株価
0             ティーケーピー  3479    不動産業  1214600  2876.0
1            霞ヶ関キャピタル  3498    不動産業   261400  4740.0
2        リネットジャパングループ  3556     小売業   227200   598.0
3      モブキャストホールディングス  3664  情報・通信業   750600    91.0
4           ソーシャルワイヤー  3929  情報・通信業   382500   399.0
5               ＷＡＣＵＬ  4173  情報・通信業  1031200   930.0
6              ＨＥＮＮＧＥ  4475  情報・通信業   631800   929.0
7           スペースマーケット  4487  情報・通信業  2612900   463.0
8             免疫生物研究所  4570     医薬品  3512100   585.0
9         カルナバイオサイエンス  4572     医薬品  3127700   901.0
10  ストリームメディアコーポレーション  4772  情報・通信業  1203500   328.0
11            テクノロジーズ  5248  情報・通信業   253700  2345.0
12               イトクロ  6049   サービス業   295600   342.0
13              ＱＤレーザ  6613    電気機器  8641100   868.0
14                ポート  7047   サービス業   291800  2332.0
15               ベルトラ  7048   サービス業   542800   761.0
16       フィードフォースグループ  7068   サービス業   321600   990.0
17   サマンサタバサジャパンリミテッド  7829   その他製品  1506300   157.0
18             デジタリフト  9244   サービス業   441600  1091.0
19       リニューアブル・ジャパン  9522  電気・ガス業  1806300   863.0

In [29]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_grows, '3_東証G_UPO')

In [30]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_grows

                  銘柄名   コード      業種      出来高      株価
0               ケアネット  2150   サービス業   228200   919.0
1              メディネット  2370   サービス業   288700    65.0
2        ウェッジホールディングス  2388  その他金融業  8651200   155.0
3              ベースフード  2936     食料品   408800   463.0
4              サンクゼール  2937     食料品   533500  2737.0
5             農業総合研究所  3541     卸売業   340400   371.0
6         ＦＨＴホールディングス  3777  情報・通信業  4956400    36.0
7          ディー・ディー・エス  3782  情報・通信業  5959500    12.0
8              Ａｉｍｉｎｇ  3911  情報・通信業  1630900   465.0
9                ココナラ  4176  情報・通信業   855800   356.0
10          ワンダープラネット  4199  情報・通信業   474200  1161.0
11              アクリート  4395  情報・通信業   223400  1370.0
12               スマレジ  4431  情報・通信業   212600  2148.0
13               ＢＡＳＥ  4477  情報・通信業  1647100   258.0
14                フリー  4478  情報・通信業   495200  3220.0
15              アンジェス  4563     医薬品   565100   103.0
16      オンコセラピー・サイエンス  4564     医薬品  4623000    37.0
17             ナノキャリア  4571     医薬品   212200   196.0
18              キャンバス  4575     医薬品   614000  1199.0
19      カイオム・バイオサイエンス  4583     医薬品   249900   174.0
20         キッズウェル・バイオ  4584     医薬品   208600   213.0
21             メドレックス  4586     医薬品   248500   163.0
22              サンバイオ  4592     医薬品   338700   600.0
23               ヘリオス  4593     医薬品  2229400   310.0
24         ブライトパス・バイオ  4594     医薬品   421700   138.0
25         ソレイジア・ファーマ  4597     医薬品  1035100    46.0
26   Ｄｅｌｔａ－Ｆｌｙ　Ｐｈａｒｍａ  4598     医薬品   304100   968.0
27              ステムリム  4599     医薬品   530100   953.0
28              セルソース  4880     医薬品   270600  2347.0
29               ティムス  4891     医薬品   540800   308.0
30             サイフューズ  4892     医薬品   203800  1002.0
31              ファインズ  5125  情報・通信業   208600   989.0
32              グッピーズ  5127  情報・通信業   681800  2435.0
33  ｍｏｎｏＡＩ　ｔｅｃｈｎｏｌｏｇｙ  5240  情報・通信業   212800  1112.0
34           ＥＬＥＭＥＮＴＳ  5246  情報・通信業   730000   697.0
35           エヌ・ピー・シー  6255      機械  1188000   559.0
36      トラース・オン・プロダクト  6696    電気機器   255800   390.0
37         ライフネット生命保険  7157     保険業   342300   969.0
38           東京通信グループ  7359   サービス業   306700  1089.0
39      アイドマ・ホールディングス  7373   サービス業  3437900  2203.0
40              セルシード  7776    精密機器   258800   281.0
41     スリー・ディー・マトリックス  7777    精密機器   494400   155.0
42              ブシロード  7803   その他製品   221200   731.0
43             サンウェルズ  9229   サービス業   259600  3425.0
44    ラバブルマーケティンググループ  9254   サービス業   220900  1502.0

In [31]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_grows = filtered_ticker(filtered_reverse_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_grows

                  銘柄名   コード      業種      出来高      株価
0              メディネット  2370   サービス業   288700    65.0
1              サンクゼール  2937     食料品   533500  2737.0
2             農業総合研究所  3541     卸売業   340400   371.0
3         ＦＨＴホールディングス  3777  情報・通信業  4956400    36.0
4          ディー・ディー・エス  3782  情報・通信業  5959500    12.0
5                ココナラ  4176  情報・通信業   855800   356.0
6               アクリート  4395  情報・通信業   223400  1370.0
7                スマレジ  4431  情報・通信業   212600  2148.0
8                ＢＡＳＥ  4477  情報・通信業  1647100   258.0
9                 フリー  4478  情報・通信業   495200  3220.0
10              アンジェス  4563     医薬品   565100   103.0
11             ナノキャリア  4571     医薬品   212200   196.0
12              キャンバス  4575     医薬品   614000  1199.0
13      カイオム・バイオサイエンス  4583     医薬品   249900   174.0
14             メドレックス  4586     医薬品   248500   163.0
15              サンバイオ  4592     医薬品   338700   600.0
16              ステムリム  4599     医薬品   530100   953.0
17             サイフューズ  4892     医薬品   203800  1002.0
18              ファインズ  5125  情報・通信業   208600   989.0
19              グッピーズ  5127  情報・通信業   681800  2435.0
20  ｍｏｎｏＡＩ　ｔｅｃｈｎｏｌｏｇｙ  5240  情報・通信業   212800  1112.0
21           ＥＬＥＭＥＮＴＳ  5246  情報・通信業   730000   697.0
22           エヌ・ピー・シー  6255      機械  1188000   559.0
23              セルシード  7776    精密機器   258800   281.0
24              ブシロード  7803   その他製品   221200   731.0

In [32]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_grows, '6_東証G_DPO')

# 東証スタンダード・プライム選抜をCSVとして保存

In [33]:
import pandas as pd

def remove_duplicate_rows(dataframe, *other_dataframes):
    """重複しているティッカーコードの行を削除する

    :param dataframe: 対象のデータフレーム
    :param other_dataframes: 重複しているかどうかの判断のためのデータフレーム
    :return 引数dataframeで重複行を削除したもの
    """
    # データフレームをコピーして新しいデータフレームを作成
    result_df = dataframe.copy()

    # 重複確認のためのセットを作成
    unique_values = set()
    for df in other_dataframes:
        unique_values.update(df['コード'])

    # 重複しているティッカーコードを削除
    result_df = result_df[~result_df['コード'].isin(unique_values)]

    return result_df

In [34]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
filtered_tse_standard_2 = filtered_ticker(tse_standard, min_volume=500000, max_price=5000)
filtered_tse_standard_2

'timestamp'
銘柄コード[1764]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[1793]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[1981]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[2754]の株価情報を取得できなかったため、スキップしました。
Not Found: No data found, symbol may be delisted
銘柄コード[2777]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3184]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3352]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3437]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3583]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3634]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3847]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3944]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[4341]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[4645]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5104]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5279]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5395]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5458]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5695]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5918]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5966]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[5999]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6144]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6248]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6346]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6599]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6647]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6977]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7399]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7464]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7500]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7515]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7681]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7946]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7957]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7961]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[7983]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8030]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8045]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8072]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8138]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8152]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8521]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[8854]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9017]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9049]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9073]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9311]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9313]の株価情報を取得できなかったため、スキップしました。
Not Found: No data found, symbol may be delisted
銘柄コード[9318]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9361]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9734]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9780]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9849]の株価情報を取得できなかったため、スキップしました。

                     銘柄名   コード          業種        出来高           株価
0           ウエストホールディングス  1407         建設業    2726500  2906.000000
1        インターライフホールディングス  1418         建設業     853900   216.000000
2                   中外鉱業  1491        非鉄金属     753800    30.000000
3             住石ホールディングス  1514          鉱業     568900   349.000000
4           中小企業ホールディングス  1757         建設業     832800    39.000000
5          燦キャピタルマネージメント  2134       サービス業    1015200    22.000000
6          ＣＡＩＣＡ　ＤＩＧＩＴＡＬ  2315      情報・通信業    1121800    58.000000
7              アルバイトタイムス  2341       サービス業    2866800   146.000000
8   Ｓｈｉｎｗａ　Ｗｉｓｅ　Ｈｏｌｄｉｎｇｓ  2437       サービス業    4632200   684.000000
9                    出前館  2484      情報・通信業    7234500   536.000000
10        シー・ヴイ・エス・ベイエリア  2687         小売業    2657000   798.000000
11            ピクセルカンパニーズ  2743         卸売業    1736700    53.000000
12                    白鳩  3192         小売業     638700   373.000000
13                   レカム  3323         卸売業     545800    86.000000
14        クラウディアホールディングス  3607        繊維製品     520000   788.000000
15                 ｅｎｉｓｈ  3667      情報・通信業     631800   333.000000
16                ジェクシード  3719      情報・通信業     639100   247.000000
17                   ケイブ  3760      情報・通信業    2163900  2600.000000
18            ブロードバンドタワー  3776      情報・通信業     522600   151.000000
19      ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993      情報・通信業     708600  3015.000000
20               アイビー化粧品  4918          化学    1549400   642.000000
21           プライム・ストラテジー  5250      情報・通信業     693000  2985.000000
22           日本パワーファスニング  5950        金属製品     551300   118.000000
23                  アマテイ  5952        金属製品   12538900   150.000000
24                  ヤマシナ  5955        金属製品    2165600    84.000000
25   ゲームカード・ジョイコホールディングス  6249          機械     519500  4320.000000
26      ユニバーサルエンターテインメント  6425          機械     838700  2632.000000
27                エヌリンクス  6578       サービス業    3220700   321.000000
28                  ピクセラ  6731        電気機器    3942000     3.000000
29      アライドテレシスホールディングス  6835        電気機器     644800   129.000000
30       フェローテックホールディングス  6890        電気機器     863900  3545.000000
31      ヘリオス　テクノ　ホールディング  6927        電気機器    3066700   510.000000
32                 名村造船所  7014       輸送用機器    1668400   567.000000
33            住信ＳＢＩネット銀行  7163         銀行業     916100  1580.000000
34                 八千代工業  7298       輸送用機器     538600  1383.000000
35            エコートレーディング  7427         卸売業     823800  1093.000000
36                  テイツー  7610         小売業    4105200   203.000000
37                    音通  7647         小売業  116144600    26.000000
38            アースインフィニティ  7692         小売業    2713600   192.000000
39                 クボテック  7709        精密機器     644800   370.000000
40              ＫＹＯＲＩＴＳＵ  7795       その他製品    1407400   184.000000
41                   アコム  8572      その他金融業    1750300   341.799988
42        トレイダーズホールディングス  8704  証券、商品先物取引業     648900   626.000000
43          フィンテック　グローバル  8789      その他金融業    6055400    64.000000
44                   ランド  8918        不動産業   28012700     9.000000
45                    大運  9363    倉庫・運輸関連業    1166900   432.000000
46    ビート・ホールディングス・リミテッド  9399      情報・通信業     763628     5.000000
47    アゴーラ　ホスピタリティー　グループ  9704       サービス業    1367600    25.000000

In [35]:
# ティッカーコードが重複している行を削除
filtered_tse_standard_2_remove_duplicate = remove_duplicate_rows(filtered_tse_standard_2, filtered_perfect_order_week_day_tse_standard, filtered_reverse_perfect_order_week_day_tse_standard)
filtered_tse_standard_2_remove_duplicate

                     銘柄名   コード        業種        出来高           株価
0           ウエストホールディングス  1407       建設業    2726500  2906.000000
1        インターライフホールディングス  1418       建設業     853900   216.000000
3             住石ホールディングス  1514        鉱業     568900   349.000000
4           中小企業ホールディングス  1757       建設業     832800    39.000000
5          燦キャピタルマネージメント  2134     サービス業    1015200    22.000000
6          ＣＡＩＣＡ　ＤＩＧＩＴＡＬ  2315    情報・通信業    1121800    58.000000
7              アルバイトタイムス  2341     サービス業    2866800   146.000000
8   Ｓｈｉｎｗａ　Ｗｉｓｅ　Ｈｏｌｄｉｎｇｓ  2437     サービス業    4632200   684.000000
9                    出前館  2484    情報・通信業    7234500   536.000000
12                    白鳩  3192       小売業     638700   373.000000
13                   レカム  3323       卸売業     545800    86.000000
16                ジェクシード  3719    情報・通信業     639100   247.000000
17                   ケイブ  3760    情報・通信業    2163900  2600.000000
19      ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993    情報・通信業     708600  3015.000000
21           プライム・ストラテジー  5250    情報・通信業     693000  2985.000000
22           日本パワーファスニング  5950      金属製品     551300   118.000000
24                  ヤマシナ  5955      金属製品    2165600    84.000000
26      ユニバーサルエンターテインメント  6425        機械     838700  2632.000000
27                エヌリンクス  6578     サービス業    3220700   321.000000
30       フェローテックホールディングス  6890      電気機器     863900  3545.000000
31      ヘリオス　テクノ　ホールディング  6927      電気機器    3066700   510.000000
32                 名村造船所  7014     輸送用機器    1668400   567.000000
33            住信ＳＢＩネット銀行  7163       銀行業     916100  1580.000000
37                    音通  7647       小売業  116144600    26.000000
41                   アコム  8572    その他金融業    1750300   341.799988
44                   ランド  8918      不動産業   28012700     9.000000
45                    大運  9363  倉庫・運輸関連業    1166900   432.000000

In [36]:
# CSVファイル保存
save_df_as_csv(filtered_tse_standard_2_remove_duplicate, '7_東証S_選抜')

In [37]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... 5000円以下
filtered_tse_grows_2 = filtered_ticker(tse_grows, min_volume=500000, max_price=5000)
filtered_tse_grows_2

'timestamp'
銘柄コード[21649]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[3986]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[4450]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6067]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[6172]の株価情報を取得できなかったため、スキップしました。

                      銘柄名   コード          業種      出来高      株価
0                 ＦＲＯＮＴＥＯ  2158       サービス業   585000   745.0
1              ジーエヌアイグループ  2160         医薬品   827700  1207.0
2            ウェッジホールディングス  2388      その他金融業  8651200   155.0
3                フルッタフルッタ  2586         食料品  1730800    79.0
4                  サンクゼール  2937         食料品   533500  2737.0
5                      海帆  3133         小売業  2402100   560.0
6                 ティーケーピー  3479        不動産業  1214600  2876.0
7          モブキャストホールディングス  3664      情報・通信業   750600    91.0
8             ＦＨＴホールディングス  3777      情報・通信業  4956400    36.0
9              ディー・ディー・エス  3782      情報・通信業  5959500    12.0
10                 Ａｉｍｉｎｇ  3911      情報・通信業  1630900   465.0
11                ティアンドエス  4055      情報・通信業   518600  2825.0
12                   プレイド  4165      情報・通信業  1207100   869.0
13                  ＷＡＣＵＬ  4173      情報・通信業  1031200   930.0
14                   ココナラ  4176      情報・通信業   855800   356.0
15               エクサウィザーズ  4259      情報・通信業  1373500   496.0
16                 ＨＥＮＮＧＥ  4475      情報・通信業   631800   929.0
17                   ＢＡＳＥ  4477      情報・通信業  1647100   258.0
18              スペースマーケット  4487      情報・通信業  2612900   463.0
19                  アンジェス  4563         医薬品   565100   103.0
20          オンコセラピー・サイエンス  4564         医薬品  4623000    37.0
21                免疫生物研究所  4570         医薬品  3512100   585.0
22            カルナバイオサイエンス  4572         医薬品  3127700   901.0
23                  キャンバス  4575         医薬品   614000  1199.0
24                   ヘリオス  4593         医薬品  2229400   310.0
25             ソレイジア・ファーマ  4597         医薬品  1035100    46.0
26                  ステムリム  4599         医薬品   530100   953.0
27      ストリームメディアコーポレーション  4772      情報・通信業  1203500   328.0
28                   ティムス  4891         医薬品   540800   308.0
29                  グッピーズ  5127      情報・通信業   681800  2435.0
30               ＥＬＥＭＥＮＴＳ  5246      情報・通信業   730000   697.0
31                    カバー  5253      情報・通信業  9313700  2588.0
32        モンスターラボホールディングス  5255      情報・通信業   762600   698.0
33  トランザクション・メディア・ネットワークス  5258      情報・通信業  1010800  1452.0
34               エヌ・ピー・シー  6255          機械  1188000   559.0
35                  オキサイド  6521        電気機器   507900  3810.0
36                  ＱＤレーザ  6613        電気機器  8641100   868.0
37                   ベルトラ  7048       サービス業   542800   761.0
38                 ウェルスナビ  7342  証券、商品先物取引業   604300  1366.0
39          アイドマ・ホールディングス  7373       サービス業  3437900  2203.0
40       サマンサタバサジャパンリミテッド  7829       その他製品  1506300   157.0
41           リニューアブル・ジャパン  9522      電気・ガス業  1806300   863.0
42          Ｍ＆Ａ総研ホールディングス  9552       サービス業  1456400  3975.0
43                 プログリット  9560       サービス業  3906600  1060.0

In [38]:
# ティッカーコードが重複している行を削除
filtered_tse_grows_2_remove_duplicate = remove_duplicate_rows(filtered_tse_grows_2, filtered_perfect_order_week_day_tse_grows, filtered_reverse_perfect_order_week_day_tse_grows)
filtered_tse_grows_2_remove_duplicate

                      銘柄名   コード          業種      出来高      株価
0                 ＦＲＯＮＴＥＯ  2158       サービス業   585000   745.0
1              ジーエヌアイグループ  2160         医薬品   827700  1207.0
2            ウェッジホールディングス  2388      その他金融業  8651200   155.0
3                フルッタフルッタ  2586         食料品  1730800    79.0
5                      海帆  3133         小売業  2402100   560.0
10                 Ａｉｍｉｎｇ  3911      情報・通信業  1630900   465.0
11                ティアンドエス  4055      情報・通信業   518600  2825.0
12                   プレイド  4165      情報・通信業  1207100   869.0
15               エクサウィザーズ  4259      情報・通信業  1373500   496.0
20          オンコセラピー・サイエンス  4564         医薬品  4623000    37.0
24                   ヘリオス  4593         医薬品  2229400   310.0
25             ソレイジア・ファーマ  4597         医薬品  1035100    46.0
28                   ティムス  4891         医薬品   540800   308.0
31                    カバー  5253      情報・通信業  9313700  2588.0
32        モンスターラボホールディングス  5255      情報・通信業   762600   698.0
33  トランザクション・メディア・ネットワークス  5258      情報・通信業  1010800  1452.0
35                  オキサイド  6521        電気機器   507900  3810.0
38                 ウェルスナビ  7342  証券、商品先物取引業   604300  1366.0
39          アイドマ・ホールディングス  7373       サービス業  3437900  2203.0
42          Ｍ＆Ａ総研ホールディングス  9552       サービス業  1456400  3975.0
43                 プログリット  9560       サービス業  3906600  1060.0

In [39]:
# CSVファイル保存
save_df_as_csv(filtered_tse_grows_2_remove_duplicate, '8_東証G_選抜')